extends ../../layout

block content

  div.back-link-container.smallPaddingTop
    a#back.link-back(href="/admin/locations/probation-areas") Back

  h1.heading-large Local admin units for #{probationArea.description}
  h2.heading-small #{msg}
  
  if !probationArea.ldus[0]
    h2.heading-medium No local admin units currently assigned to #{probationArea.description}

  form(method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    div.pure-g.form-group.smallPaddingTop
      div.form-group.pure-u-1.pure-u-sm-20-24
        div.govuk-fieldset
          
          each ldu, index in probationArea.ldus
            div.multiple-choice
              input(id=ldu.code type="checkbox" name=`activeLdus[${index}]` checked=ldu.active value=ldu.code)
              label(for=ldu.code) #{ldu.description} (#{ldu.code})
              

    if probationArea.ldus[0]
      div.pure-u-1.inlineButtons.largePaddingBottom
        input#continueBtn.requiredButton.button.smallMarginTop(type="submit" value="Save")