extends ../layout

block content

    if submissionError
        div.pure-g
            div#submissionError.pure-u-2-3.error-summary(role="alert" aria-labelledby="error-summary-missing-input" tabindex="-1")
                h2#error-summary-missing-input.heading-medium.error-summary-heading
                    |Not all required information was submitted correctly
                p Please correct the form where indicated below

    include ../includes/back

    h1.heading-large Additional conditions

    form#additionalConditions(method='POST', action="/hdc/licenceConditions/additionalConditions/" + nomisId)
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="nomisId" value=nomisId)

        div#conditionsInstructions
            div.pure-g.borderBottom
                div.pure-u-1
                    p Select the additional conditions you want to add to the offender's licence below.

            div.pure-g
                div.pure-u-1.midPaddingTopBottom
                    for group, groupName in conditions
                        div.borderBottom.largePaddingBottom
                            if groupName !== 'base'
                                h2.heading-medium #{groupName}
                            for subgroup, subgroupName in group
                                if subgroupName !== 'base'
                                    h3.heading-small #{subgroupName}
                                for condition in subgroup

                                    - var conditionId = condition.id
                                    div.pure-g.smallPaddingBottom
                                        div.pure-u-1.pure-u-md-2-3.pure-g
                                            div.pure-u-1.multiple-choice.conditionSelector.noLeftPaddingColumn(data-target=condition.user_input+'_form')
                                                p.namedAnchor
                                                    a.namedAnchor(name=conditionId)
                                                input(type="checkbox" id="check-"+conditionId value=condition.id name="additionalConditions" checked=condition.selected)
                                                label(for="check-"+conditionId)
                                                label(for="check-"+conditionId) #{condition.text}

                                        if condition.user_input
                                            div.pure-u-1.pure-u-md-1-3.conditionForm.js-hidden(id=condition.user_input+'_form')
                                                div.conditionForm
                                                    if condition.errors && condition.errors.indexOf('MISSING_INPUT') > -1
                                                        span.error-message(class='missing-'+condition.id) Please supply information
                                                    if condition.errors && condition.errors.indexOf('INVALID_DATE') > -1
                                                        span.error-message(class='missing-'+condition.id) Date must be in the format DD/MM/YYYY
                                                    include ./includes/formBuilder

        include ./includes/bespokeConditions
        include ../includes/formButtons

block append scripts
    script(src="/public/javascripts/datepicker.js")
    script(src="/public/javascripts/additionalConditionsClient.js?"+version)

