extends ../layout

block content 
  include ./includes/additionalConditions
  include ../includes/backToTaskList
  include ../includes/personalDetailsSummary
  
  - var additionalConditionsValue = additionalConditionsRequired || null;

  h1.heading-large Standard licence conditions

  div.pure-g.paddingBottom
    div.pure-u-1.pure-u-md-2-3
      P The following conditions are always included on the licence:

      p An offender must:

      ol.numberedList
        for condition in standardConditions
          li.midPaddingBottom #{condition.text}

  +additionalConditions('Additional conditions', additionalConditions, 'additional')
  +additionalConditions('Post sentence supervision conditions', pssConditions, 'post sentence supervision')
  +additionalConditions('Bespoke conditions', bespokeConditions, 'bespoke')
  +additionalConditions('Unapproved bespoke conditions', unapprovedBespokeConditions, 'unapproved bespoke')


  form(method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    input(type="hidden" name="bookingId" value=bookingId || '')
    div.form-group.inline.smallPaddingTop
      h2.heading-large Do you want to add any additional conditions?

      div.multiple-choice
        input#additionalConditionsYes(type="radio" name="additionalConditionsRequired" value="Yes" checked=additionalConditionsValue === 'Yes')
        label(for="additionalConditionsYes") Yes
      div.multiple-choice
        input#additionalConditionsNo(type="radio" name="additionalConditionsRequired" value="No" checked=additionalConditionsValue === 'No')
        label(for="additionalConditionsNo") No

    div.paddingTop
    include ../includes/formSubmit
