block excludedForm

  - var vals = data.reason || ''

  p Select one or more reasons why the offender is excluded:
    if errorObject.reason
      span.error-message #{errorObject.reason}
  div.pure-g
    div.pure-u-1.pure-u-md-10-24
      div.multiple-choice
        input(type='checkbox' name='reason[]' id='sexOffenderRegister' value='sexOffenderRegister' checked=vals.indexOf('sexOffenderRegister') !== -1)
        label(for='sexOffenderRegister') Sex offender required to register
      div.multiple-choice
        input(type='checkbox' name='reason[]' id='convictedSexOffences' value='convictedSexOffences' checked=vals.indexOf('convictedSexOffences') !== -1)
        label(for='convictedSexOffences') Convicted of violent or sexual offences, currently serving an
          |  extended sentence
      div.multiple-choice
        input(type='checkbox' name='reason[]' id='rotlFail' value='rotlFail' checked=vals.indexOf('rotlFail') !== -1)
        label(for='rotlFail') Serving sentence for ROTL fail to return
      div.multiple-choice
        input(type='checkbox' name='reason[]' id='communityCurfew' value='communityCurfew' checked=vals.indexOf('communityCurfew') !== -1)
        label(for='communityCurfew') Serving a sentence for breach of the curfew requirement of a
          |  Community Order
      div.multiple-choice
        input(type='checkbox' name='reason[]' id='curfewConditionsRecall' value='curfewConditionsRecall' checked=vals.indexOf('curfewConditionsRecall') !== -1)
        label(for='curfewConditionsRecall') Recalled to prison for failing to comply with their HDC curfew conditions within 2 years of their current sentence date
      div.multiple-choice
        input(type='checkbox' name='reason[]' id='deportation' value='deportation' checked=vals.indexOf('deportation') !== -1)
        label(for='deportation') Foreign national offender recommended for deportation by
          |  the court and those who are liable to deportation and a decision to deport has been served
          |  (i.e. not just those with a Deportation Order)
    div.pure-u-4-24
    div.pure-u-1.pure-u-md-10-24
      div.multiple-choice
        input(type='checkbox' name='reason[]' id='servingRecall' value='servingRecall' checked=vals.indexOf('servingRecall') !== -1)
        label(for='servingRecall') Currently serving a recall from early release on compassionate grounds
      div.multiple-choice
        input(type='checkbox' name='reason[]' id='cja2003_19ZA' value='cja2003_19ZA' checked=vals.indexOf('cja2003_19ZA') !== -1)
        label(for='cja2003_19ZA') Offender currently serving for a specified terrorism or terrorism connected offence
      div.multiple-choice
        input(type='checkbox' name='reason[]' id='twoThirdsRelease' value='twoThirdsRelease' checked=vals.indexOf('twoThirdsRelease') !== -1)
        label(for='twoThirdsRelease') Serving a sentence subject to two-thirds release criteria (SDS+, DYOI+ or S250+) or would be serving one if they had been sentenced after the Police and Crime Sentencing Act was introduced
      div.multiple-choice
        input(type='checkbox' name='reason[]' id='notice_244zb' value='notice_244zb' checked=vals.indexOf('notice_244zb') !== -1)
        label(for='notice_244zb') A notice under section 244ZB has been served and is still in force
      div.multiple-choice
        input(type='checkbox' name='reason[]' id='schedule_20B' value='schedule_20B' checked=vals.indexOf('schedule_20B') !== -1)
        label(for='schedule_20B') Release is governed by schedule 20B of the Criminal Justice Act 2003
