div.pure-g
  div.pure-u-1.multiple-choice
    input(id='do_not_unsupervised_child' type='radio' name='do_not_unsupervised_contact' value='any child under' checked=condition.user_submission && condition.user_submission.do_not_unsupervised_contact === 'any child under')
    label(for='do_not_unsupervised_child') any child under

  div.pure-u-1.multiple-choice
    input(id='do_not_unsupervised_female_child' type='radio' name='do_not_unsupervised_contact' value='any female child under' checked=condition.user_submission && condition.user_submission.do_not_unsupervised_contact === 'any female child under')
    label(for='do_not_unsupervised_female_child') any female child under

  div.pure-u-1.multiple-choice
    input(id='do_not_unsupervised_male_child' type='radio' name='do_not_unsupervised_contact' value='any male child under' checked=condition.user_submission && condition.user_submission.do_not_unsupervised_contact === 'any male child under')
    label(for='do_not_unsupervised_male_child') any male child under

  div.pure-u-1.multiple-choice
    input(id='do_not_unsupervised_vulnerable_adult' type='radio' name='do_not_unsupervised_contact' value='any vulnerable adult' checked=condition.user_submission && condition.user_submission.do_not_unsupervised_contact === 'any vulnerable adult')
    label(for='do_not_unsupervised_vulnerable_adult') any vulnerable adult

  div.pure-u-1.multiple-choice
    input(id='do_not_unsupervised_male_vulnerable_adult' type='radio' name='do_not_unsupervised_contact' value='any male vulnerable adult' checked=condition.user_submission && condition.user_submission.do_not_unsupervised_contact === 'any male vulnerable adult')
    label(for='do_not_unsupervised_male_vulnerable_adult') any male vulnerable adult

  div.pure-u-1.multiple-choice
    input(id='do_not_unsupervised_female_vulnerable_adult' type='radio' name='do_not_unsupervised_contact' value='any female vulnerable adult' checked=condition.user_submission && condition.user_submission.do_not_unsupervised_contact === 'any female vulnerable adult')
    label(for='do_not_unsupervised_female_vulnerable_adult') any female vulnerable adult

div.pure-g.paddingTop
  div.pure-u-1.multiple-choice(data-target='do_not_unsupervised_social_services_field')
    input(id='do_not_unsupervised_social_services_dept' name='do_not_unsupervised_social_services_dept' type='checkbox' value='yes' checked=condition.user_submission && condition.user_submission.do_not_unsupervised_social_services_dept === 'yes' )
    label(for='do_not_unsupervised_social_services_dept') and/or social services department

  div#do_not_unsupervised_social_services_field.pure-u-1.js-hidden
    label(for='do_not_unsupervised_social_services_dept_name') Name of social services department
    input(type='text' name='do_not_unsupervised_social_services_dept_name' id='do_not_unsupervised_social_services_dept_name' class='form-control' value=condition.user_submission && condition.user_submission.do_not_unsupervised_social_services_dept_name aria-label="Name of social services department")
