div.pure-g
  div.pure-u-1.multiple-choice
    input(id='follow_rehabilitation_instructions_alcohol' type='radio' name='follow_rehabilitation_instructions' value='alcohol abuse' checked=condition.user_submission && condition.user_submission.follow_rehabilitation_instructions === 'alcohol abuse')
    label(for='follow_rehabilitation_instructions_alcohol') alcohol abuse

  div.pure-u-1.multiple-choice
    input(id='follow_rehabilitation_instructions_sexual' type='radio' name='follow_rehabilitation_instructions' value='sexual behaviour' checked=condition.user_submission && condition.user_submission.follow_rehabilitation_instructions === 'sexual behaviour')
    label(for='follow_rehabilitation_instructions_sexual') sexual behaviour

  div.pure-u-1.multiple-choice
    input(id='follow_rehabilitation_instructions_violent' type='radio' name='follow_rehabilitation_instructions' value='violent behaviour' checked=condition.user_submission && condition.user_submission.follow_rehabilitation_instructions === 'violent behaviour')
    label(for='follow_rehabilitation_instructions_violent') violent behaviour

  div.pure-u-1.multiple-choice
    input(id='follow_rehabilitation_instructions_gambling' type='radio' name='follow_rehabilitation_instructions' value='gambling' checked=condition.user_submission && condition.user_submission.follow_rehabilitation_instructions === 'gambling')
    label(for='follow_rehabilitation_instructions_gambling') gambling

  div.pure-u-1.multiple-choice
    input(id='follow_rehabilitation_instructions_solvent' type='radio' name='follow_rehabilitation_instructions' value='solvent abuse' checked=condition.user_submission && condition.user_submission.follow_rehabilitation_instructions === 'solvent abuse')
    label(for='follow_rehabilitation_instructions_solvent') solvent abuse

  div.pure-u-1.multiple-choice
    input(id='follow_rehabilitation_instructions_anger' type='radio' name='follow_rehabilitation_instructions' value='anger' checked=condition.user_submission && condition.user_submission.follow_rehabilitation_instructions === 'anger')
    label(for='follow_rehabilitation_instructions_anger') anger

  div.pure-u-1.multiple-choice
    input(id='follow_rehabilitation_instructions_debt' type='radio' name='follow_rehabilitation_instructions' value='debt' checked=condition.user_submission && condition.user_submission.follow_rehabilitation_instructions === 'debt')
    label(for='follow_rehabilitation_instructions_debt') debt

  div.pure-u-1.multiple-choice
    input(id='follow_rehabilitation_instructions_prolific' type='radio' name='follow_rehabilitation_instructions' value='prolific behaviour' checked=condition.user_submission && condition.user_submission.follow_rehabilitation_instructions === 'prolific behaviour')
    label(for='follow_rehabilitation_instructions_prolific') prolific behaviour

  div.pure-u-1.multiple-choice
    input(id='follow_rehabilitation_instructions_offending' type='radio' name='follow_rehabilitation_instructions' value='offending behaviour' checked=condition.user_submission && condition.user_submission.follow_rehabilitation_instructions === 'offending behaviour')
    label(for='follow_rehabilitation_instructions_offending') offending behaviour
