div.pure-g.smallPaddingBottom
  div.pure-u-1.inline
    div Owned:
    div.multiple-choice
      input(id='tell_probation_document_own_passport' type='radio' name='tell_probation_document_own' value='passport' checked=condition.user_submission && condition.user_submission.tell_probation_document_own === 'passport')
      label(for='tell_probation_document_own_passport') Passport

    div.multiple-choice
      input(id='tell_probation_document_own_driving' type='radio' name='tell_probation_document_own' value='driving licence' checked=condition.user_submission && condition.user_submission.tell_probation_document_own === 'driving licence')
      label(for='tell_probation_document_own_driving') Driving licence

    div.multiple-choice
      input(id='tell_probation_document_own_birth' type='radio' name='tell_probation_document_own' value='birth certificate' checked=condition.user_submission && condition.user_submission.tell_probation_document_own === 'birth certificate')
      label(for='tell_probation_document_own_birth') Birth certificate


div.pure-g
  div.pure-u-1.inline
    div Applied for:
    div.multiple-choice
      input(id='tell_probation_document_apply_passport' type='radio' name='tell_probation_document_apply' value='passport' checked=condition.user_submission && condition.user_submission.tell_probation_document_apply === 'passport')
      label(for='tell_probation_document_apply_passport') Passport

    div.multiple-choice
      input(id='tell_probation_document_apply_driving' type='radio' name='tell_probation_document_apply' value='driving licence' checked=condition.user_submission && condition.user_submission.tell_probation_document_apply === 'driving licence')
      label(for='tell_probation_document_apply_driving') Driving licence

    div.multiple-choice
      input(id='tell_probation_document_apply_birth' type='radio' name='tell_probation_document_apply' value='birth certificate' checked=condition.user_submission && condition.user_submission.tell_probation_document_apply === 'birth certificate')
      label(for='tell_probation_document_apply_birth') Birth certificate
