mixin addressDetail(type, address)

    div.pure-g.smallPaddingBottom(id="addressDetails")
        div.pure-u-1.pure-u-sm-1-2.pure-g
            div.pure-u-md-2-3
                | Address
                div.paddingBottom.smallMarginTop
                    if address.addressLine1
                        p.bold.noMargin(id="address1-"+type) #{address.addressLine1}
                    if address.addressLine2
                        p.bold.noMargin(id="address2-"+type) #{address.addressLine2}
                    if address.addressTown
                        p.bold.noMargin(id="town-"+type) #{address.addressTown}
                    if address.postCode
                        p.bold.noMargin(id="postCode-"+type) #{address.postCode}

            div.pure-u-md-2-3.largePaddingBottom
                | Telephone
                if address.telephone
                    p.bold(id="telephone-"+type) #{address.telephone}


        div.pure-u-1.pure-u-md-1-2
            if address.occupier
                div Main occupier
                div.pure-g.smallMarginTop.borderBottomLight.smallPaddingBottom
                    p.bold.pure-u-1-2.noMargin(id="occupierName-"+type) #{address.occupier.name}
                    p.bold.pure-u-1-3.noMargin(id="occupierRelation-"+type) #{address.occupier.relationship}

            div.largePaddingBottom.smallPaddingTop
                p Other residents
                if address.residents && address.residents.length > 0
                    for resident, index in address.residents
                        if(resident.name != '' || resident.age != '' || resident.relationship != '')
                            div.pure-g.smallMarginTop.resident(class = "type"+type)
                                p.bold.noMargin.pure-u-1-2(id="residentName-"+type+"-"+index) #{resident.name}
                                p.bold.noMargin.pure-u-1-3(id="residentRelation-"+type+"-"+index) #{resident.relationship}
                                p.bold.noMargin.pure-u-4-24(id="residentAge-"+type+"-"+index) #{resident.age}

                else
                    div.pure-u-1
                        div.pure-g.smallMarginTop
                            p.bold.noMargin.pure-u-1-2 None

            if address.cautionedAgainstResident
                div.pure-u-md-5-6
                    p According to the offender, have they been convicted or cautioned for an offence against any of the above, or any neighbours to the above address?

                        p.bold(id="cautioned-"+type) #{address.cautionedAgainstResident}

    if address.consent
        div.pure-g.largeMarginTop.paddingTop.smallPaddingBottom.borderTopLight
            div.pure-u-1-2
                div.pure-u-md-4-5
                    | Does the homeowner/landlord give informed consent to HDC at the address?
                    p.bold(id="consent-"+type) #{address.consent}

            if(address.consent === 'Yes')
                div.pure-u-1-2
                    if address.electricity
                        div.pure-u-md-4-5.midPaddingBottom
                            | Does this address have an electricity supply?
                            p.bold(id="electricity-"+type) #{address.electricity}

                    if(address.electricity === 'Yes')
                        if address.homeVisitConducted
                            div.pure-u-md-4-5
                                | Was a home visit conducted in this case?
                                p.bold(id="homeVisit-"+type) #{address.homeVisitConducted}

            if(address.consent === 'Yes' && address.electricity !== 'No')
                if address.deemedSafe
                    div.pure-u-1.largeMarginTop.paddingTop.borderTopLight
                        div.pure-u-md-4-5
                            | Could this offender be managed safely at this address?
                            p.bold(id="deemedSafe-"+type) #{address.deemedSafe}

            div.pure-u-1-2


