mixin otherResidents(type, savedAddress)
    - var savedResidents = savedAddress.residents || []
    - var residentsToShow = savedResidents.length > 3 ? savedResidents.length : 3
    - var n = 0
    div.otherResidentsInput.largePaddingBottom
        div.pure-g
            div.pure-u-1
                h4.heading-small Other residents
                p.font-xsmall Only enter an age if the person is under 18
        div.pure-g
            div.pure-u-sm-5-12 Name
            div.pure-u-sm-5-12.padLeftRight15 Relation to offender
            div.pure-u-sm-1-6 Age

        while n < residentsToShow
            div.pure-g.smallPaddingBottom.resident
                div.pure-u-sm-5-12
                    input.form-control.residentName(name=type+"[residents]["+n+"][name]" value=savedResidents[n] && savedResidents[n].name autocomplete="off")
                div.pure-u-sm-5-12.padLeftRight15
                    input.form-control.residentRelation(name=type+"[residents]["+n+"][relation]" value=savedResidents[n] && savedResidents[n].relation autocomplete = "off")
                div.pure-u-sm-1-6
                    input.form-control.residentAge(name=type + "[residents][" + n + "][age]" value=savedResidents[n] && savedResidents[n].age autocomplete="off")
            - n++
