h3.heading-medium Preferred address
div#addressDetails.pure-g.largePaddingBottom.content-pull

    div.pure-u-1.pure-u-md-6-24
        div.l-box
            span Address
            div.paddingBottom.smallMarginTop
                if data.addressLine1
                    p#address1.bold.noMargin #{data.addressLine1}
                if data.addressLine2
                    p#address2.bold.noMargin #{data.addressLine2}
                if data.addressTown
                    p#addressTown.bold.noMargin #{data.addressTown}
                if data.postCode
                    p#addressPostCode.bold.noMargin #{data.postCode}

            div.pure-u-md-2-3.largePaddingBottom
                | Telephone
                if data.telephone
                    p#telephone.bold #{data.telephone}


    div.pure-u-1.pure-u-md-10-24
        div.l-box
            if data.occupier
                span Main occupier details
                div.pure-g.largePaddingBottom.content-pull
                    div.pure-u-2-5
                        .l-box
                            span#occupierName.bold #{data.occupier.name}
                    div.pure-u-1-5
                        .l-box
                            span#occupierAge.bold #{data.occupier.age}
                    div.pure-u-2-5
                        .l-box
                            span#occupierRelation.bold  #{data.occupier.relationship}

            if data.residents
                span Other occupants
                div.largePaddingBottom
                    for resident in data.residents
                        div.pure-g.content-pull
                            div.pure-u-2-5
                                .l-box
                                    span.bold #{resident.name}

                            div.pure-u-1-5
                                .l-box
                                    span.bold #{resident.age}

                            div.pure-u-2-5
                                .l-box
                                    span.bold #{resident.relation}


            div
                p Has the prisoner been convicted or cautioned for an offence against any of the above, or any neighbours to the above address?
                if data.cautionedAgainstResident
                    p#cautionedAgainstResident.bold #{data.cautionedAgainstResident}

    div.pure-u-1.pure-u-md-8-24
        .l-box
            if data.electricity
                p.noMargin Does the address have an electricity supply?
                p#electricity.bold #{data.electricity}
