extends ../layout

block content

    div.pure-g.pure-u-1
        div.back-link-container.smallPaddingTop
            a.link-back(href="javascript: window.history.back();") Back

        h2.heading-large Confirm address details

    h3.heading-medium Preferred address
    div.pure-g.largePaddingBottom
        div.pure-u-1.pure-u-sm-5-12.pure-g
            div.pure-u-md-2-3
                | Address
                div.paddingBottom.smallMarginTop
                    if data.addressLine1
                        p.bold.noMargin #{data.addressLine1}
                    if data.addressLine2
                        p.bold.noMargin #{data.addressLine2}
                    if data.addressTown
                        p.bold.noMargin #{data.addressTown}
                    if data.postCode
                        p.bold.noMargin #{data.postCode}

            div.pure-u-md-2-3.largePaddingBottom
                | Telephone
                if data.telephone
                    p.bold #{data.telephone}

            div.pure-u-md-2-3.paddingBottom
                p Does the address have an electricity supply?
                if data.electricity
                    p.bold #{data.electricity}

        if data.occupier
            div.pure-u-1.pure-u-md-7-12
                div.pure-g
                    p.pure-u-1-2.noMargin Name of main occupier
                    p.pure-u-1-4.noMargin Age
                    p.pure-u-1-4.noMargin Relation to prisoner

                div.pure-g.smallMarginTop.borderBottomLight.smallPaddingBottom
                    p.bold.pure-u-1-2.noMargin #{data.occupier.name}
                    p.bold.pure-u-1-4.noMargin #{data.occupier.age}
                    p.bold.pure-u-1-4.noMargin #{data.occupier.relationship}

                if data.residents

                    div.pure-g.largePaddingBottom.smallPaddingTop
                        p.bold Other residents
                        p.pure-u-1-2.noMargin Name
                        p.pure-u-1-4.noMargin Age
                        p.pure-u-1-4.noMargin Relation to prisoner

                        for resident in data.residents
                            div.pure-g.smallMarginTop
                                p.bold.pure-u-1-2.noMargin #{resident.name}
                                p.bold.pure-u-1-4.noMargin #{resident.age}
                                p.bold.pure-u-1-4.noMargin #{resident.relation}


                div.pure-u-md-2-3
                    p Has the prisoner been convicted or cautioned for an offence against any of the above, or any neighbours to the above address?
                    if data.cautionedAgainstResident
                        p.bold #{data.cautionedAgainstResident}

    div.paddingBottom.smallPaddingTop
        div.pure-u-1.inlineButtons
            a#continueBtn.requiredButton.button(href=nextPath + nomisId role="button") Save and continue
            a#editLink.smallMarginTop(href="/hdc/proposedAddress/curfewAddress/" + nomisId role="button") Edit details
