extends ../layout
include ./includes/addressForm
block content
    -var savedAddress = data || {}

    div.pure-g.pure-u-1.borderBottom
        div.back-link-container.smallPaddingTop
            a.link-back(href="javascript: window.history.back();") Back

        h2.heading-large Proposed curfew address

        p.pure-u-1-2 Enter the proposed address that the offender has completed on the returned HDC form

    form(method="post" action=submitPath)
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="nomisId" value=nomisId || '')
        div.paddingBottom.largeMarginBottom
            h3.heading-medium Preferred address
            +addressForm(0)

        //div.form-group.inline.paddingBottom
        //    p Do you want to add an alternative address?
        //
        //    div.multiple-choice(data-target="alternativeAddress")
        //        input#alternativeAddressYes(type="radio" checked=savedAddress.alternativeAddress === 'Yes' name="alternativeAddress" value="Yes")
        //        label(for="alternativeAddressYes") Yes
        //    div.multiple-choice
        //        input#alternativeAddressNo(type="radio" checked=savedAddress.alternativeAddress !== 'Yes' name="alternativeAddress" value="No")
        //        label(for="alternativeAddressNo") No
        //
        //div#alternativeAddress.js-hidden
        //    div.paddingBottom.largeMarginBottom
        //        h3.heading-medium Alternative address
        //        +addressForm(1, 'alternative')

        include ../includes/formButtons

block append scripts
    script(src="/public/javascripts/otherResidentsClient.js?"+version)

