extends ../layout
include ./includes/addressForm
block content
    -var savedAddress = data || {}
    -var action = submitAction ? `/hdc/proposedAddress/curfewAddress/${submitAction}/${bookingId}` : undefined;

    div.pure-g.pure-u-1
        include ../includes/back
        include ../includes/personalDetailsSummary

        h2.heading-large Proposed curfew address

    form(method="post" action=action)
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="bookingId" value=bookingId || '')
        input(type="hidden" name="action" value=submitAction || 'do')
        div.paddingBottom.largeMarginBottom
            +addressForm(0)

        include ../includes/formButtons

block append scripts
    script(src="/public/javascripts/otherResidentsClient.js?"+version)

