extends ../layout

block content

    div.pure-g.pure-u-1
        div.back-link-container.smallPaddingTop
            a.link-back(href="javascript: window.history.back();") Back

        div.pure-u-1-2
            h2.heading-large Has the offender decided to opt out of the HDC process?

    form(method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="nomisId" value=nomisId || '')
        div.smallPaddingTop.paddingBottom.largeMarginBottom
            div.largePaddingBottom
                div.form-group.inline.smallPaddingTop

                    div.multiple-choice(data-target="optOutForm")
                        input#optOutYes(type="radio" checked=data && data.decision === 'Yes' name="decision" value="Yes")
                        label(for="optOutYes") Yes
                    div.multiple-choice
                        input#optOutNo(type="radio" checked=data && data.decision === 'No' name="decision" value="No")
                        label(for="optOutNo") No

                div#optOutForm.panel.panel-border-narrow.js-hidden
                    label(for='optOutDetails') Please give details
                    textarea(name='reason' id='optOutDetails' class='form-control' rows='4')
                        if data && data.reason
                            | #{data.reason}

            include ../includes/formButtons
