extends ../formTemplates/eligibilityFormTemplate

block question
    | Has the offender decided to opt out of the HDC process?

block formItems
    div.form-group.inline
        div.multiple-choice(data-target="optOutForm")
            input#optOutYes(type="radio" checked=data && data.decision === 'Yes' name="decision" value="Yes")
            label(for="optOutYes") Yes
        div.multiple-choice
            input#optOutNo(type="radio" checked=data && data.decision === 'No' name="decision" value="No")
            label(for="optOutNo") No

        div#optOutForm(class=errorObject.reason ? 'form-group-error' : 'panel panel-border-narrow js-hidden')
            label(for='optOutDetails') Please give details
                if errorObject.reason
                    span.error-message #{errorObject.reason}
            textarea(name='reason' id='optOutDetails' class='form-control' rows='4')
                if data && data.reason
                    | #{data.reason}
