extends ../layout

block content

    -var addresses = data.proposedAddress && data.proposedAddress.curfewAddress ? data.proposedAddress.curfewAddress.addresses : []
    -var address = addresses[addresses.length-1] || {}
    -var savedData = data.proposedAddress && data.proposedAddress.rejected && data.proposedAddress.rejected.enterAlternative || {}

    div.pure-g.pure-u-1
        include ../includes/backToTaskList

        h2.heading-large Curfew address rejected
        p The following address has been returned by the Responsible Officer:

        div.pure-g.borderBottomLight
            div.pure-u-1.pure-u-md-1-2
                p.smallMarginBottom Address
                div.paddingBottom
                    if address.addressLine1
                        p#rejectedLine1.bold.noMargin #{address.addressLine1}
                    if address.addressLine2
                        p#rejectedLine2.bold.noMargin #{address.addressLine2}
                    if address.addressTown
                        p#rejectedTown.bold.noMargin #{address.addressTown}
                    if address.postCode
                        p#rejectedPostCode.bold.noMargin #{address.postCode}
                div.paddingBottom
                    if address.telephone
                        p.smallMarginBottom Telephone
                        p#rejectedTelephone.bold.noMargin #{address.telephone}

            div.pure-u-1.pure-u-md-1-2.paddingBottom
                p.smallMarginBottom Reason for rejection:
                if address.consent === 'No'
                    p.bold The homeowner/landlord does not give informed consent
                if address.deemedSafe === 'No'
                    p.bold The address has been deemed unsafe
                    if address.unsafeReason
                        p #{address.unsafeReason}
                if address.electricity === 'No'
                    p.bold The address does not have an electricity supply


        div.largePaddingBottom
            h3.heading-medium Enter alternative address?
            form(id="enterAlternativeForm" method="post")
                div.form-group.paddingBottom
                    p Do you want to enter an alternative address?
                    input(type="hidden" name="_csrf" value=csrfToken)
                    input(type="hidden" name="nomisId" value=nomisId || '')
                    div.multiple-choice(data-target="enterAlternative")
                        input#enterAlternativeYes(type="radio" name="enterAlternative" value="Yes" checked=savedData === "Yes")
                        label(for="enterAlternativeYes") Yes
                    div.multiple-choice
                        input#enterAlternativeNo(type="radio" name="enterAlternative" value="No" checked=savedData === "No")
                        label(for="enterAlternativeNo") No

                include ../includes/formSubmit
