mixin standardTask(taskObject)
    div.taskListSingleLineItem.midPaddingBottom
        div.pure-u-1.pure-u-md-3-4
            h2.heading-medium #{taskObject.title}
            if taskObject.label
                +label(taskObject.label)

        if taskObject.action
            div.pure-u-1.pure-u-md-1-4.center.buttonContainer
                +action(taskObject.action)

mixin action(actionConfig)
    - var isLink = actionConfig.type === 'link'
    - var isButton = actionConfig.type === 'btn'
    - var isSecondaryButton = actionConfig.type === 'btn-secondary'
    - var target = actionConfig.newTab ? '_blank' : null

    if isLink
        a.taskListAction(href=actionConfig.href + prisonerInfo.bookingId, target=target) #{actionConfig.text}

    else if isButton
        a.taskListAction.center.button(href=actionConfig.href + prisonerInfo.bookingId, target=target) #{actionConfig.text}

    else if isSecondaryButton
        a.taskListAction.center.button.button-secondary(href=actionConfig.href + prisonerInfo.bookingId, target=target) #{actionConfig.text}

mixin label(text)
    - var sections = text.split('||')
    if sections.length === 1
        | #{text}

    else if sections[0] === 'WARNING'
        div.pure-g
            div.pure-u-1.pure-u-sm-3-5.notice-container
                div.notice
                    i.icon.icon-important
                        span.visually-hidden Warning

                    strong.bold-small #{sections[1]}
