div.form-group.midMarginBottom
    label.form-label(for="reportingAddressLine1") Building and street
    input(id="reportingAddressLine1" name="reportingAddressLine1" value=userInput.reportingAddressLine1 autofocus aria-label="Building and street" class="form-control")
    input.form-control.smallMarginTop(id="reportingAddressLine2" name="reportingAddressLine2" value=userInput.reportingAddressLine2)

div.form-group.midMarginBottom
    label.form-label(for="reportingAddressTown") Town or city
    input(id="reportingAddressTown" name="reportingAddressTown" value=userInput.reportingAddressTown aria-label="Town or city" class="form-control")

div.form-group.midMarginBottom.pure-u-sm-1.pure-u-md-1-2
    label.form-label(for="reportingPostCode") Postcode
    input(id="reportingPostCode" name="reportingPostCode" value=userInput.reportingPostCode aria-label="Postcode" class="form-control")

div.form-group.pure-u-sm-1.pure-u-md-3-4
    label.form-label(for="reportingTelephone") Telephone
    input.form-control(id="reportingTelephone" name="reportingTelephone" value=userInput.reportingTelephone aria-label="Telephone" class="form-control")

div.form-group.pure-u-sm-1.pure-u-md-3-4
    label.form-label(for="reportingContact") Contact name
    input.form-control(id="reportingContact" name="reportingContact" value=userInput.reportingContact aria-label="Contact name" class="form-control")
