extends licence

block content

  ol.start
    li
      | Under the provisions of Chapter 6 of the Criminal Justice Act 2003 you are being released on licence. You
      | will be subject to a Home Detention Curfew. The objective of the Home Detention Curfew is to help you manage your
      | return into the community. Under the provisions of Section 256B of the 2003 Act you will also be under the
      | supervision of a nominated officer. The objectives of this supervision are to (a) protect the public, (b)
      | prevent re-offending and (c) help you to resettle successfully into the community.

    li
      | Your Home Detention Curfew commences on
      =" "
      span.entry #{SENT_HDCAD}
      |  and expires on
      =" "
      span.entry #{SENT_CRD}

    li
      | Your supervision commences on
      =" "
      span.entry #{SENT_CRD}
      |  and expires on
      =" "
      span.entry #{SENT_LED}

    li
      | On release you must report without delay to:
      br
      br
      span.entry #{REPORTING_NAME}
      br
      span.pre.entry #{REPORTING_ADDRESS}
      br
      br
      | At
      =" "
      span.entry #{REPORTING_AT}
      |  on
      =" "
      span.entry #{REPORTING_ON}

  div.smallPaddingBottom

  h2 Home Detention Curfew

  ol.continue

    +curfewAddress(CURFEW_ADDRESS, '7')

    +firstDayCurfew(CURFEW_FIRST_FROM, CURFEW_FIRST_UNTIL)

    include includes/curfewTimes

    +curfewConditions()
      li.entry
        | It is a condition of your release on licence that you are well behaved, do not commit any offence and
        | do not do anything which could undermine the objectives of your early release from prison.

  +probationSupervision(CONDITIONS, '', SENT_SED)

  +contactPoints(MONITOR, EST_PHONE)
