extends forms-layout

block content
  h1 Home detention curfew (tagging): agency notification

  table.semi-wide
    tr
      td Prison: #{EST_PREMISE}
      td Address:
    tr
      td Contact name: #{responsibleOfficer.name}
    tr
      td Email:
    tr
      td Tel:

  p The following prisoner is due to be released on Home Detention Curfew on #{SENT_CRD}.
  
  table.semi-wide
    tr
      td Name: #{OFF_NAME}
      td DoB: #{prisoner.dateOfBirth}
    tr
      td Prison number: #{OFF_NOMS}
      td PNCID: #{prisoner.PNC}
    tr.top.spaceUnder
      td Gender:

  table.wide
    tr
      td Curfew address: #{CURFEW_ADDRESS}
    tr
      td Telephone number: #{curfewAddress.telephone}
    tr
      td Mobile number:
    tr
      td Second curfew address (if required):
    tr.spaceUnder
      td Second telephone number (if required):
    tr
      td Main occupier of curfew address: #{occupier.name}
    tr.spaceUnder
      td Responsible adult (for children under 18 released on HDC):
    tr
      td Conditional Release Date: #{SENT_CRD}

  h2 Standard curfew times

  p The offender must remain at this address on the days and times that are shown:

  table.border.wide
    tr
      th
      th Time from
      th Time to
      th Split curfew only - time from
      th Split curfew only - time to
    if CURFEW_HOURS.daySpecificInputs === "Yes"
      tr
        th Monday
        td #{CURFEW_HOURS.mondayFrom}
        td #{CURFEW_HOURS.mondayUntil}
        td
        td
      tr
        th Tuesday
        td #{CURFEW_HOURS.tuesdayFrom}
        td #{CURFEW_HOURS.tuesdayUntil}
        td
        td
      tr
        th Wednesday
        td #{CURFEW_HOURS.wednesdayFrom}
        td #{CURFEW_HOURS.wednesdayUntil}
        td
        td
      tr
        th Thursday
        td #{CURFEW_HOURS.thursdayFrom}
        td #{CURFEW_HOURS.thursdayUntil}
        td
        td
      tr
        th Friday
        td #{CURFEW_HOURS.fridayFrom}
        td #{CURFEW_HOURS.fridayUntil}
        td
        td
      tr
        th Saturday
        td #{CURFEW_HOURS.saturdayFrom}
        td #{CURFEW_HOURS.saturdayUntil}
        td
        td
      tr
        th Sunday
        td #{CURFEW_HOURS.sundayFrom}
        td #{CURFEW_HOURS.sundayUntil}
        td
        td
    else
      tr
        th Daily
        td #{CURFEW_HOURS.allFrom}
        td #{CURFEW_HOURS.allUntil}
        td
        td

  h2 Curfew hours on day of release

  table.wide
    tr
      td Time from: #{CURFEW_FIRST.firstNightFrom}
    tr
      td Time to: #{CURFEW_FIRST.firstNightUntil}

  div.no-break
    h2 Additional electronic monitoring requirements

    p Full details of any exclusion zone (including map) or other EM monitored licence conditions must be set out here or attached to this form.

    p Is there an exclusion zone requirement? Yes No

    div.no-break
      p Describe exclusion zone fully (please include zone collection reference if the Portal has been used to draw the zone(s)) 

      div.box(style={height: '2cm'}).largeMarginBottom

    - var exclusionTableRows = 0;
    table.border.wide
      tr
        th.third Exclusion zone
        th Time from
        th Time to
        th Days of the week
      while exclusionTableRows < 7
        tr(id="exclusionRow" + exclusionTableRows++)
          td
          td
          td
          td

  p Is trail monitoring a requirement? Yes No

  p This  involves  monitoring  a  prisoner’s  movements  to  support  discussions  with  their  offender manager about lifestyle and behaviours

  p Describe trail monitoring requirement:

  div.box(style={height: '2cm'})

  p Are there any other electronic monitoring requirements e.g. attendance, inclusion zones: Yes No

  p Describe requirement to be monitored:

  div.box(style={height: '2cm'}).largeMarginBottom

  - var monitoringRequirementsRows = 0;
  table.border.wide
    tr
      th.third Other monitoring requirement
      th Time from
      th Time to
      th Days of the week
    while monitoringRequirementsRows < 7
      tr(id="monitoringRequirementRow" + monitoringRequirementsRows++)
        td
        td
        td
        td

  h2 You must complete the following sections

  p Is  there  any  additional  information  about  the  offender  that  the  electronic  monitoring provider should consider?  For example, whether an interpreter is required (if so please state which language), is the offender blind, partially sighted, deaf, hard of hearing, has learning difficulties or any condition that may affect the fitting of the tag such as a prosthetic leg.

  div.box(style={height: '2cm'}) Please provide further details or indicate that no additional information is relevant:

  p Is there any additional information to suggest that the offender presents a risk of harm or verbal abuse to the electronic monitoring provider’s staff?

  div.box(style={height: '2cm'}).largeMarginBottom Please provide further details or indicate that no additional information is relevant:

  table.wide
    tr
      td Community Offender Manager name: #{reportingInstructions.name}
    tr
      td Contact number: #{reportingInstructions.telephone}
    tr
      td Breach notification email or functional mailbox:
    tr
      td Probation provider: #{reportingInstructions.organisation}

  p.bold A copy of the prisoner’s licence to be sent as soon as possible on the day of release. All accompanying documentation should be sent to the probation.
  
  p.bold THIS FORM MUST BE SENT TO THE EMS PROVIDER, PROBATION PROVIDER AND THE HOME POLICE FORCE. 