extends ../layout

block content

  include ../includes/back
  include ../includes/personalDetailsSummary

<<<<<<< Updated upstream
  h1.heading-large.smallMarginBottom Download forms for this HDC application
<<<<<<< Updated upstream
  br
  div.midMarginBottom Forms will open in a new tab. 
=======
  div.midMarginBottom Forms will open in a new tab 
=======
  h1.heading-large Download forms for this HDC application
>>>>>>> Stashed changes
>>>>>>> Stashed changes

  h2.heading-medium.largeMarginBottom.largeMarginTop Eligibility and suitability
  div.pure-g
    div.pure-u-1
      ul#printableForms.list-bullet
        if eligibilityAndSuitabilityForms && eligibilityAndSuitabilityForms.length > 0
          each form in eligibilityAndSuitabilityForms
            li
              a(href='/hdc/forms/' + form[0] + '/' + bookingId) #{form[1]}
  
  h2.heading-medium.largeMarginBottom.largeMarginTop Address checks
  div.pure-g
    div.pure-u-1
      ul#printableForms.list-bullet
        if addressChecksForms && addressChecksForms.length > 0
          each form in addressChecksForms
            li
              a(href='/hdc/forms/' + form[0] + '/' + bookingId) #{form[1]}

  h2.heading-medium.largeMarginBottom.largeMarginTop Application outcome
  div.pure-g
    div.pure-u-1
      ul#printableForms.list-bullet
        if applicationOutcomeForms && applicationOutcomeForms.length > 0
          each form in applicationOutcomeForms
            li
              a(href='/hdc/forms/' + form[0] + '/' + bookingId) #{form[1]}

  h2.heading-medium.largeMarginBottom.largeMarginTop Manage an Electronic Monitoring Order
  | Use the 
  a#electronicMonitoringOrder.link(href=`${electronicMonitoringOrderUrl}`) Apply, change or end an Electronic Monitoring Order (EMO)
  |  service for EMO applications.

  h2.heading-medium.largeMarginBottom.largeMarginTop Varying a licence
  div.pure-g.midMarginBottom.midPaddingBottom
    div.pure-u-1
      ul#printableForms.list-bullet
        if licenceVariationForms && licenceVariationForms.length > 0
          each form in licenceVariationForms
            li
              a(href='/hdc/forms/' + form[0] + '/' + bookingId) #{form[1]}
