extends forms-layout

block content

  h1 Home Detention Curfew (tagging): Cancellation or variation of agency notification

  table.semi-wide
    tr.spaceUnder
      td Prison: #{EST_PREMISE}
      td Address:
    tr
      td Contact name: #{responsibleOfficer.name}
    tr
      td Email:
    tr.spaceUnder
      td Telephone number:
    tr.spaceUnder
      td Prisoner name: #{OFF_NAME}
      td DoB: #{prisoner.dateOfBirth}
    tr.spaceUnder
      td Prison number: #{OFF_NOMS}
      td Location: #{prisoner.internalLocationDesc}
    tr.spaceUnder
      td HDC release date: #{SENT_CRD}
    tr.spaceUnder
      td Curfew address: #{CURFEW_ADDRESS}

  p It has been decided that the above offender should not be released on HDC; or the following details of the Agency Notification issued on .............................. are amended as below.

  div.box(style={height: '7cm'}).largeMarginBottom

  p.bold A copy of this form must be forwarded to the EMS provider, the probation service, and the police.

    