li.no-break After your day of release, you are required to remain at your place of curfew during the following hours:
  br
  br
  table.compact
    tr
      td Monday
      td from
      td.entry #{CURFEW_MON_FROM}
      td until
      td.entry #{CURFEW_MON_UNTIL}

    tr
      td Tuesday
      td from
      td.entry #{CURFEW_TUE_FROM}
      td until
      td.entry #{CURFEW_TUE_UNTIL}

    tr
      td Wednesday
      td from
      td.entry #{CURFEW_WED_FROM}
      td until
      td.entry #{CURFEW_WED_UNTIL}

    tr
      td Thursday
      td from
      td.entry #{CURFEW_THU_FROM}
      td until
      td.entry #{CURFEW_THU_UNTIL}

    tr
      td Friday
      td from
      td.entry #{CURFEW_FRI_FROM}
      td until
      td.entry #{CURFEW_FRI_UNTIL}

    tr
      td Saturday
      td from
      td.entry #{CURFEW_SAT_FROM}
      td until
      td.entry #{CURFEW_SAT_UNTIL}

    tr
      td Sunday
      td from
      td.entry #{CURFEW_SUN_FROM}
      td until
      td.entry #{CURFEW_SUN_UNTIL}
