mixin heading(title)
  div.center
    p
      h1 #{title}
      h3 Criminal Justice Act 2003
      h2 #{EST_PREMISE}
      h2 #{EST_PHONE}

mixin reportOnRelease(REPORTING_NAME, REPORTING_ADDRESS, REPORTING_AT, REPORTING_ON)
  li
    | On release from prison (including, if applicable, any release from detention under the Immigration Act 1971
    | during the currency of your licence, whether or not leave has been granted for you to remain in the United
    | Kingdom), unless otherwise directed by your supervising officer, you must report without delay to:
    br
    br
    span.entry #{REPORTING_NAME}
    br
    span.pre.entry #{REPORTING_ADDRESS}
    br
    br
    | At
    =" "
    span.entry #{REPORTING_AT}
    |  on
    =" "
    span.entry #{REPORTING_ON}

mixin curfewAddress(ADDRESS, DETAILS_PARAGRAPH_NUMBER)
  li The address(es) to which you are curfewed are:
    br
    br
    span.pre.entry #{ADDRESS}
    br
    br
    | Details of curfew times are shown below at paragraph #{DETAILS_PARAGRAPH_NUMBER}.


mixin firstDayCurfew(FROM, UNTIL)
  li
    | On the day of your release, you will be subject to curfew at your curfew address from
    =" "
    span.entry #{FROM}
    |  until
    =" "
    span.entry #{UNTIL}.
    |  The contractor will visit you at this address before
    | midnight during this period in order to fit you with the tag. You must show the contractor this copy of the
    | licence to confirm your identity. Your curfew will then run until the curfew finish time the following morning.  
    | On your last day of curfew the contractor will visit you to remove the tag and monitoring equipment. This will
    | take place in the last two hours of your last curfew period; i.e. between 10pm and midnight.


mixin curfewConditions()
  li
    | Your compliance with the conditions of the Home Detention Curfew will be monitored by the electronic
    | monitoring contractor. You must provide the contractor with access to the curfew address to install and check
    | the monitoring equipment and electronic tag. Such visits will be made during your curfew hours but not between
    | midnight and 6.00am. However, the contractor may visit the curfew address between midnight and 6:00am in
    | order to investigate a reported violation.

  li
    | The monitoring equipment will usually operate via the mobile cellular network and will only need a dedicated
    | telephone line to be fitted if the mobile signal is poor at the curfew address. You will be responsible for
    | meeting the cost of the small amount of electricity used by the monitoring equipment at your curfew address.
    | It is your responsibility to ensure that there is an electricity supply available during your time on
    | curfew.

  li
    | In the event of a dedicated telephone line needing to be installed you must agree to the installation at
    | your curfew address for use by the supplier. The supplier will notify you of a time and a date and you must be
    | present, and provide access to, the curfew address at the notified time to allow installation to take place.
    | The installation will normally take place during standard working hours and is fully paid for by the
    | supplier.

  li.no-break
    | While on Home Detention Curfew you may be liable to recall to prison if you breach the condition of this
    | licence relating to the curfew.  You will be in breach of this condition if:
    ol.roman.start
      li You are absent from your curfew address during the specified curfew hours;
      li You commit violence against or threaten the contractor or any of his staff with violence;
      li You damage or tamper with the monitoring equipment;
      li You withdraw your consent to the monitoring arrangements.

  if block
    block

  li
    | In addition, you may be recalled to prison if your whereabouts can no longer be electronically monitored at
    | the specified address.

  li
    | The contractor may authorise your absence from your place of curfew in clearly defined circumstances, which
    | you will be informed about by the contractor in writing.  You must contact the contractor in advance of any such
    | absence to seek authorisation where this is possible.  If it is not possible to contact the contractor in
    | advance, you must contact them as soon as possible thereafter. Absence for any other reason other than these
    | clearly defined circumstances will constitute a breach of your curfew condition.

  li
    | If you need to seek a permanent change to your curfew conditions (for instance because of the requirements of
    | a new job), you must contact the Prison Service establishment from which you were released.  A contact number is
    | attached at the bottom of this licence.

mixin standardConditions()
  li Be of good behaviour and not behave in a way which undermines the purpose of the licence period;
  li Not commit any offence;
  li Keep in touch with the supervising officer in accordance with instructions given by the supervising officer;
  li Receive visits from the supervising officer in accordance with instructions given by the supervising officer;

  li
    | Reside permanently at an address approved by the supervising officer and obtain the prior permission
    | of the supervising officer for any stay of one or more nights at a different address;

  li
    |  Not undertake work, or a particular type of work, unless it is approved by the supervising officer
    | and notify the supervising officer in advance of any proposal to undertake work or a particular type of work;

  li
    | Not travel outside the United Kingdom, the Channel Islands or the Isle of Man, except with the
    | prior permission of the supervising officer or for the purposes of immigration deportation or removal;

  li
    | Tell your supervising officer if you use a name which is different to the name or names which appear on your licence

  li
    | Tell your supervising officer if you change or add any contact details, including phone number or email

mixin probationSupervision(CONDITIONS, SENT_LED, SENT_SED)
  div.smallPaddingBottom
  h3 Probation Supervision

  ol.continue
    li
      | You must place yourself under the supervision of whichever supervising officer or social worker is nominated
      | for this purpose from time to time.

    li.no-break While under supervision you must:
      ol.roman.start
        +standardConditions()

        div.pre.conditions
          br
          | #{CONDITIONS}

    div.pagebreak
    li
      | The Secretary of State may vary or cancel any of the above conditions, in accordance with Section 250(4) of
      | the Criminal Justice Act 2003.

    li
      | If you fail to submit yourself to a recall to custody following either a notification of the revocation of
      | your licence, or remain out of contact with Probation Services for a period of six months, you may be liable to
      | face a further charge of being unlawfully at large following recall under section 255ZA of the Criminal Justice
      | Act 2003. This could result in a fine, a sentence of up to two years’ imprisonment, or both.

    li
      | If you fail to comply with any requirement of your licence period (set out above) or
      | if you otherwise pose a risk to the public, you will be liable to have this licence revoked and be recalled to
      | custody until the date on which your licence would have otherwise ended. If you are sent back to prison and are
      | re-released before the end of your licence, you will still be subject to licence conditions until the end of
      | your sentence.

    if (SENT_LED !== '')
      li
        | Your licence expires on
        =" "
        span.entry #{SENT_LED}

    if (SENT_SED !== '')
      li
        | Your sentence expires on
        =" "
        span.entry #{SENT_SED}

mixin postSentenceSupervison(PSSCONDITIONS, SENT_CRD, SENT_LED, SENT_SED, SENT_TUSED)
  div.smallPaddingBottom

    h2 Post-Sentence Supervision Period

    ol.continue

      li
        | The objective of your post-sentence supervision period is to encourage your rehabilitation in the community.
        | You must place yourself under the supervision of whichever supervisor is nominated for this purpose from time to
        | time.

      li.no-break During your post-sentence supervision period you must:
        ol.roman.start

          li Be of good behaviour and not behave in a way that undermines the rehabilitative purpose of the supervision period;
          li Not to commit any offence;
          li Keep in touch with your supervisor in accordance with instructions given by your supervisor;
          li Receive visits from your supervisor in accordance with instructions given by your supervisor;
          li
            | Reside permanently at an address approved by your supervisor and obtain the prior permission of the supervisor
            | for any stay of one or more nights at a different address;

          li
            | Not undertake work, or a particular type of work, unless it is approved by your supervisor and to notify
            | your supervisor in advance of any proposal to undertake work or a particular type of work;

          li
            | Not  travel outside the United Kingdom, the Channel Islands or the Isle of Man, except with the prior
            | permission of your supervisor or in order to comply with a legal obligation (whether or not arising under
            | the law of any part of the United Kingdom and Islands);

          li Participate in activities in accordance with any instructions given by your supervisor;

          div.pre.conditions
            br
            | #{PSSCONDITIONS}

      div.pagebreak

      li
        | The Secretary of State may vary or cancel any of the above conditions, in accordance with Section 256AB(4),
        | 256D and 256E of the Criminal Justice Act 2003.

      li
        | If you fail to comply with any requirement of your supervision (set out in paragraphs 22 and 23 above) under
        | section 256AB, 256D and 256E  of the Criminal Justice Act 2003 you will be liable to be summoned to appear
        | before a court. The court may order you to be detained for up to 14 days, or impose further sanctions such as
        | unpaid work or electronic location monitoring.

      h3 Expiration Dates

      li Your Home Detention Curfew expires on
        =" "
        span.entry #{SENT_CRD}

      if (SENT_LED !== '')
        li Your licence period expires on
          =" "
          span.entry #{SENT_LED}

      if (SENT_SED !== '')
        li Your sentence expires on
          =" "
          span.entry #{SENT_SED}

      li Your post-sentence supervision period expires on
        =" "
        span.entry #{SENT_TUSED}


mixin contactPoints(MONITOR, EST_PHONE)
  div.no-break
    h3 Contact Points

    p Monitoring Supplier:
      =" "
      span.entry #{MONITOR}

    p Releasing establishment:
      =" "
      span.entry #{EST_PHONE}
    br

mixin signatures(APPROVER_NAME, CREATION_DATE, OFFENDER_NAME)
  div.box
    p Name:
      =" "
      span.entry #{APPROVER_NAME}

    pr Date:
      =" "
      span.entry #{CREATION_DATE}

    p for the Secretary of State for Justice.
    br
    p This licence has been given to me and its requirements have been explained.

    p Name:
      =" "
      span.entry #{OFFENDER_NAME}

    p Signed:
    br
    p Date:
