extends ../../layout

block content

  div.back-link-container.smallPaddingTop
    a#back.link-back(href="/admin/delius") Back

    if ro.message
      h2 Error retrieving responsible officer from delius: #{staffDetails.message}
    else
      div.pure-g.pure-u-1.paddingTop
        form(method='POST' action='/admin/delius/managedOffenders')
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="hidden" name="staffIdentifier" value=ro.staffIdentifier)
          div.pure-u-1-3
            input.link(type="submit" value="View managed offenders for " + ro.staffIdentifier + " (" + ro.deliusId + ")")

          div.pure-u-1
            table.largeMarginBottom
              for entry in Object.entries(ro)
                tr
                  td #{entry[0]}
                  td #{entry[1]}

