extends ../layout

block content

    div.back-link-container
        a.link-back(href="/") Back

    h1.heading-large Check prisoner details
    h2.heading-medium Personal details

    if !prisonerInfo

        p No prisoner details found

    else

        div#personalDetails.pure-g.borderBottom.paddingBottom
            div.pure-u-1.pure-u-md-1-4

                img#prisonerImage(src= "/public/images/placeholder.png")
                if(prisonerInfo.captureDate)
                    span.block.subText#prisonerPhotoDate Uploaded: #{prisonerInfo.captureDate}

            div.pure-u-1.pure-u-md-1-4
                div.midMarginBottom
                    |Name
                    if(prisonerInfo.firstName || prisonerInfo.lastName)
                        span#prisonerName.block.bold #{prisonerInfo.lastName}, #{prisonerInfo.firstName}

                div.midMarginBottom
                    | Aliases
                    if(prisonerInfo.aliases)
                        span#prisonerAliases.block.bold #{prisonerInfo.aliases}

                div.midMarginBottom
                    | Nomis number
                    if(prisonerInfo.offenderNo)
                        span#prisonerPrisonNumber.block.bold #{prisonerInfo.offenderNo}

            div.pure-u-1.pure-u-md-1-4
                div.midMarginBottom
                    | Date of birth
                    if(prisonerInfo.dateOfBirth)
                        span#prisonerDob.block.bold #{prisonerInfo.dateOfBirth}

                div.midMarginBottom
                    | Location
                    if(prisonerInfo.agencyLocationDesc)
                        span#prisonerLocation.block.bold #{prisonerInfo.agencyLocationDesc}

                div.midMarginBottom
                    | Type of offence(s)
                    if(prisonerInfo.offenceDescription)
                        span#offenceDescription.block.bold #{prisonerInfo.offenceDescription}

            div.pure-u-1.pure-u-md-1-4
                div.midMarginBottom
                    | CRD
                    if (prisonerInfo.conditionalReleaseDate)
                         span#conditionalReleaseDate.block.bold  #{prisonerInfo.conditionalReleaseDate}

                div.midMarginBottom
                    | HDCED
                    if (prisonerInfo.homeDetentionCurfewEligibilityDate)
                        span#homeDetentionCurfewEligibilityDate.block.bold  #{prisonerInfo.homeDetentionCurfewEligibilityDate}

                div.midMarginBottom
                    | Name of COM
                    if (prisonerInfo.comName)
                        span#comName.block.bold  #{prisonerInfo.comName}

        include eligibilitySummary

block append scripts
    script(src="/public/javascripts/getImage.js?"+version)
    script(type='text/javascript').
        $(document).ready(function() {
            if(#{prisonerInfo.imageId}) {
                getAndReplaceImage(#{prisonerInfo.imageId});
            }
        });

