extends ../layout

block content

    h1.heading-large Check prisoner details
    h2.heading-medium Personal details

    if !prisonerInfo

        p No prisoner details found

    else

        div#personalDetails.pure-g.borderBottom.paddingBottom
            div.pure-u-1.pure-u-md-1-4
                if(prisonerInfo.imageId)
                    img(src= "/public/images/placeholder.png")
                if(prisonerInfo.captureDate)
                    span.block.subText Uploaded: #{prisonerInfo.captureDate}

            div.pure-u-1.pure-u-md-1-4
                div.midMarginBottom
                    |Name
                    if(prisonerInfo.firstName || prisonerInfo.lastName)
                        span#prisonerName.block.bold #{prisonerInfo.lastName}, #{prisonerInfo.firstName}

                div.midMarginBottom
                    | Aliases
                    if(prisonerInfo.aliases)
                        span#prisonerAliases.block.bold #{prisonerInfo.aliases}

                div.midMarginBottom
                    | Nomis number
                    if(prisonerInfo.offenderNo)
                        span#prisonerPrisonNumber.block.bold #{prisonerInfo.offenderNo}

            div.pure-u-1.pure-u-md-1-4
                div.midMarginBottom
                    | Date of birth
                    if(prisonerInfo.dateOfBirth)
                        span#prisonerDob.block.bold #{prisonerInfo.dateOfBirth}

                div.midMarginBottom
                    | Gender
                    if(prisonerInfo.physicalAttributes.gender)
                        span#prisonerSex.block.bold #{prisonerInfo.physicalAttributes.gender}

                div.midMarginBottom
                    | Location
                    if(prisonerInfo.assignedLivingUnitDesc)
                        span#prisonerLocation.block.bold #{prisonerInfo.assignedLivingUnitDesc}

        h2.heading-medium Key dates

        div#keyDates.paddingBottom
            div.pure-g
                div.pure-u-1.pure-u-md-1-4
                    div.midMarginBottom
                        | Release date
                        span#releaseDate.block.bold
                            if (prisonerInfo.conditionalReleaseDate)
                                | #{prisonerInfo.conditionalReleaseDate}
                            else
                                | N/A

                div.pure-u-1.pure-u-md-1-4
                    div.midMarginBottom
                        | Licence expires
                        span#licenceExpires.block.bold
                            if (prisonerInfo.licenceExpiryDate)
                                | #{prisonerInfo.licenceExpiryDate}
                            else
                                | N/A

            div.pure-g.paddingBottom
                div.pure-u-1.pure-u-md-1-4
                    div.midMarginBottom
                        | Sentence expires
                        span#sentenceExpires.block.bold
                            if (prisonerInfo.sentenceExpiryDate)
                                | #{prisonerInfo.sentenceExpiryDate}
                            else
                                | N/A

    div#continueBtns.pure-g.paddingBottom
        div.pure-u-1.inlineButtons
            form(method="post", name="formPrint")
                input(type="hidden" name="_csrf" value=csrfToken)
                if prisonerInfo
                    input(type="hidden" name="nomisId" value=prisonerInfo.offenderNo || '')
                    input(type="hidden" name="firstName" value=prisonerInfo.firstName || '')
                    input(type="hidden" name="lastName" value=prisonerInfo.lastName || '')
                    input(type="hidden" name="agencyLocationId" value=prisonerInfo.agencyId || '')
                input#continueBtn.requiredButton.button(type="submit" value="Continue")
            a#backBtn.requiredButton.button.button-secondary(href="/" role="button") Back to dashboard
