extends ../layout-grid

block content

    h1#pageHeading.heading-large Upcoming releases

        if dashboardDetail.required && dashboardDetail.required.length > 0

            h2.heading-medium Information required
            table
                thead
                    tr
                        th Name
                        th NOMS ID
                        th Establishment
                        th Discharge date
                        th
                tbody
                    each entry in dashboardDetail.required
                        tr.required
                            td.requiredName
                                if entry.lastName
                                    |#{entry.lastName}
                                    if entry.firstName
                                        | , #{entry.firstName}

                            td.requiredNomisId
                                if entry.offenderNo
                                    | #{entry.offenderNo}

                            td.requiredEstablishment
                                if entry.agencyLocationDesc
                                    | #{entry.agencyLocationDesc}

                            td.requiredDischargeDate
                                if entry.releaseDate
                                    | #{entry.releaseDate}

                            td.requiredButton
                                a.button.button-secondary(href="details/"+entry.offenderNo role="button")
                                    if entry.status === 'STARTED'
                                        |Continue
                                    else
                                        |Start

        if dashboardDetail.sent && dashboardDetail.sent.length > 0

            h2.heading-medium Information sent to OMU teams
            table
                thead
                    tr
                        th Name
                        th NOMS ID
                        th Establishment
                        th Discharge date
                        th
                tbody
                    each entry in dashboardDetail.sent
                        tr.sent
                            td.sentName
                                if entry.lastName
                                    | #{entry.lastName}
                                    if entry.firstName
                                        | , #{entry.firstName}

                            td.sentNomisId
                                if entry.offenderNo
                                    | #{entry.offenderNo}

                            td.sentEstablishment
                                if entry.agencyLocationDesc
                                    | #{entry.agencyLocationDesc}

                            td.sentDischargeDate
                                if entry.releaseDate
                                    | #{entry.releaseDate}

                            td.sentButton
                                a.button.button-secondary(href="licenceDetails/" + entry.offenderNo role="button")
                                    | View

        if !dashboardDetail.required && !dashboardDetail.sent
            h2.heading-medium No upcoming releases
