extends ../layout

block content

    h1#pageHeading.heading-large Licences

        if dashboardDetail.checking && dashboardDetail.checking.length > 0

            h2.heading-medium Ready to process
            table
                thead
                    tr
                        th Name
                        th NOMS ID
                        th Establishment
                        th Discharge date
                        th
                tbody
                    each entry in dashboardDetail.checking
                        tr.checking
                            td.checkingName
                                if entry.lastName
                                    | #{entry.lastName}
                                    if entry.firstName
                                        | , #{entry.firstName}

                            td.checkingNomisId
                                if entry.offenderNo
                                    | #{entry.offenderNo}

                            td.checkingEstablishment
                                if entry.agencyLocationDesc
                                    | #{entry.agencyLocationDesc}

                            td.checkingDischargeDate
                                if entry.releaseDate
                                    | #{entry.releaseDate}

                            td.checkingButton
                                a.button.button-secondary(href="details/" + entry.offenderNo role="button")
                                    if entry.status === 'STARTED'
                                        | Continue
                                    else
                                        | Start

        if dashboardDetail.required && dashboardDetail.required.length > 0

            h2.heading-medium Information required
            table
                thead
                    tr
                        th Name
                        th NOMS ID
                        th Establishment
                        th Discharge date
                        th
                tbody
                    each entry in dashboardDetail.required
                        tr.required
                            td.requiredName
                                if entry.lastName
                                    |#{entry.lastName}
                                    if entry.firstName
                                        | , #{entry.firstName}

                            td.requiredNomisId
                                if entry.offenderNo
                                    | #{entry.offenderNo}

                            td.requiredEstablishment
                                if entry.agencyLocationDesc
                                    | #{entry.agencyLocationDesc}

                            td.requiredDischargeDate
                                if entry.releaseDate
                                    | #{entry.releaseDate}

                            td.spacer


        if dashboardDetail.checkSent && dashboardDetail.checkSent.length >0

            h2.heading-medium Sent for approval
            table
                thead
                    tr
                        th Name
                        th NOMS ID
                        th Establishment
                        th Discharge date
                        th
                tbody
                    each entry in dashboardDetail.checkSent
                        tr.checkSent
                            td.checkSentName
                                if entry.lastName
                                    | #{entry.lastName}
                                    if entry.firstName
                                        | , #{entry.firstName}

                            td.checkSentNomisId
                                if entry.offenderNo
                                    | #{entry.offenderNo}

                            td.checkSentEstablishment
                                if entry.agencyLocationDesc
                                    | #{entry.agencyLocationDesc}

                            td.checkSentDischargeDate
                                if entry.releaseDate
                                    | #{moment(entry.releaseDate).format('DD/MM/YYYY')}

                            td.checkSentButton
                                a.button.button-secondary(href="licenceDetails/" + entry.offenderNo role="button")
                                    | View

        if !dashboardDetail.checking && !dashboardDetail.required && !dashboardDetail.checkSent
            h2.heading-medium No upcoming releases
