h2.heading-medium Offender details

div#personalDetails.pure-g.borderBottom.paddingBottom
    div.pure-u-1.pure-u-md-5-24
        if prisonerInfo.imageId
            img#prisonerImage.pure-img(src= "/hdc/taskList/image/" + prisonerInfo.imageId)
        else
            img#prisonerImage(src= "/public/images/placeholder.png")
        if(prisonerInfo.captureDate)
            span.block.subText#prisonerPhotoDate Uploaded: #{prisonerInfo.captureDate}

    div.pure-u-1.pure-u-md-4-24.padRight15
        div.midMarginBottom
            | Name
            if(prisonerInfo.firstName || prisonerInfo.lastName)
                span#prisonerName.block.bold #{prisonerInfo.lastName}, #{prisonerInfo.firstName}

        div.midMarginBottom
            | NOMIS ID
            if(prisonerInfo.offenderNo)
                span#prisonerPrisonNumber.block.bold #{prisonerInfo.offenderNo}

        div.midMarginBottom
            | Date of birth
            if(prisonerInfo.dateOfBirth)
                span#prisonerDob.block.bold #{prisonerInfo.dateOfBirth}

    div.pure-u-1.pure-u-md-9-24.padRight30
        div.midMarginBottom
            | Name of RO
            if (prisonerInfo.com)
                span#prisonerComName.block.bold  #{prisonerInfo.com}

        div.midMarginBottom
            | Location
            if(prisonerInfo.agencyLocationDesc)
                span#prisonerLocationInternal.block.bold #{prisonerInfo.internalLocationDesc}
                span#prisonerLocationExternal.block.bold #{prisonerInfo.agencyLocationDesc}

        div.midMarginBottom
            | Type of offence(s)
            if(prisonerInfo.offences)
                span#prisonerOffences.block.bold #{prisonerInfo.offences}

    div.pure-u-1.pure-u-md-6-24.padRight15
        div.midMarginBottom
            | Conditional Release Date
            if (prisonerInfo.conditionalReleaseDate)
                span#prisonerCrd.block.bold  #{prisonerInfo.conditionalReleaseDate}

        div.midMarginBottom
            | HDC Eligibility Date
            if (prisonerInfo.homeDetentionCurfewEligibilityDate)
                span#prisonerHdced.block.bold  #{prisonerInfo.homeDetentionCurfewEligibilityDate}

        div.midMarginBottom
            | Sentence Expiry Date
            if (prisonerInfo.sentenceExpiryDate)
                span#prisonerSed.block.bold  #{prisonerInfo.sentenceExpiryDate}

        div.midMarginBottom
            | Licence Expiry Date
            if (prisonerInfo.licenceExpiryDate)
                span#prisonerLed.block.bold  #{prisonerInfo.licenceExpiryDate}

        div.midMarginBottom
            | Post Sentence Supervision Expiry Date
            if (prisonerInfo.topupSupervisionExpiryDate)
                span#prisonerPssed.block.bold  #{prisonerInfo.topupSupervisionExpiryDate}


