extends ../layout
include ./includes/conditionalFormButton
include ./includes/startContinueChangeButton
include ./includes/startContinueChangeMultiButton
include ./includes/changeLink
include ./includes/continueButton
include ./includes/taskListButton
include ./includes/viewButton
include ./includes/viewEditButton
include ./includes/utils


block content

  if licenceVersion !== 0 && (user.role === 'RO' || user.role === 'CA')
    include ../includes/back-caselist-and-forms
  else
    include ../includes/backToCaseList

  if licenceStatus.decisions.excluded
    div.error-banner.marginTopMedium
      strong.bold The offender is statutorily excluded from HDC
  else if licenceStatus.decisions.unsuitableResult
    div.error-banner.marginTopMedium
      strong.bold The offender is presumed unsuitable for HDC release
  else if user.role === 'CA' && licenceStatus.decisions.caRefused
    div.error-banner.marginTopMedium
      strong.bold Home detention curfew refused by prison case admin#{licenceStatus.decisions.refusalReason ?': ' + licenceStatus.decisions.refusalReason : ''}
  else if user.role === 'CA' && licenceStatus.decisions.refused && licenceStatus.decisions.decisionComments
    div.error-banner.marginTopMedium
      details.govuk-details.alignLeft(data-module="govuk-details")
       summary.govuk-details__summary
         span.govuk-details__summary-text
          strong.bold Home detention curfew refused by decision maker: #{licenceStatus.decisions.refusalReason}
       div.govuk-details__text.marginTopMedium
       | #{licenceStatus.decisions.decisionComments}
  else if user.role === 'CA' && licenceStatus.decisions.refused 
    div.error-banner.marginTopMedium
      strong.bold Home detention curfew refused by decision maker: #{licenceStatus.decisions.refusalReason}
  else if licenceStatus.decisions.optedOut
    div.error-banner.marginTopMedium
      strong.bold The offender has opted out from Home Detention Curfew

  if !user.role
    p Error
  else
    if errors && errors.length > 0
      div.largeMarginBottom
        div.error-summary(role="alert" aria-labelledby="error-summary-heading" tabindex="-1")
          h2.heading-medium.error-summary-heading.center.noMargin.smallPaddingTopBottom#error-summary-heading
            | There is a problem
          ul.error-summary-list
            each errorMsg in errors
              li.error #{errorMsg}
    include prisonerDetails

    div.paddingBottom
      block tasks
