
-var creationMessage = versionInfo.isNewVersion ? "version " + versionInfo.currentVersion : versionInfo.isNewTemplate ? "version " + (versionInfo.currentVersion + 1) : ""

div.paddingBottom

    div.pure-g
        div.pure-u-1.pure-u-md-3-4
            h2.heading-medium Create #{versionInfo.templateLabel}
        div.pure-u-1.pure-u-md-1-4.center.largeMarginTop
            a(href="/hdc/pdf/select/" + bookingId) Change template

    div.pure-g
        div.pure-u-1.pure-u-md-3-4
            if canPrint
                | Ready to print #{creationMessage}
                if versionInfo.isNewTemplate
                    | ,
                    span.bold  #{versionInfo.templateLabel}
            else
                | All sections not completed

            if versionInfo.lastVersion
                p Last printed version #{versionInfo.lastVersion.version},
                    if versionInfo.isNewTemplate
                        span.bold  #{versionInfo.lastTemplateLabel}
                    else
                        |  #{versionInfo.lastTemplateLabel}
                    |, on #{versionInfo.lastVersion.timestamp}
        div.pure-u-1.pure-u-md-1-4.center
            a#createPdf.taskListAction.center.button(href="/hdc/pdf/create/" + templateName + "/" + bookingId
            role="button"
            target="_blank"
            onClick="setTimeout(function(){javascript:window.location.reload()}, 200)") Continue

