-var creationMessage = versionInfo.isNewVersion || versionInfo.isNewTemplate ? "new version" : ""

div.paddingBottom

  div.pure-g
    div.pure-u-1.pure-u-md-3-4
      h2.heading-medium Create #{versionInfo.templateLabel}
    div.pure-u-1.pure-u-md-1-4.center.largeMarginTop
      a(href="/hdc/pdf/offenceDate/" + bookingId) Change licence type

  div.pure-g
    div.pure-u-1.pure-u-md-3-4
      if canPrint
        | Ready to print #{creationMessage}
        if versionInfo.isNewTemplate
          | ,
          span.bold  #{versionInfo.templateLabel}
      else
        | Not complete

      if versionInfo.lastVersion
        p
        span Last created:
        ul.list-bullet
          li #{versionInfo.lastVersion.timestamp}

          li
            if versionInfo.isNewTemplate
              span.bold #{versionInfo.lastTemplateLabel}
            else
              | #{versionInfo.lastTemplateLabel}
          li Version #{versionInfo.lastVersion.version}.#{versionInfo.lastVersion.vary_version}

    if canPrint
      div.pure-u-1.pure-u-md-1-4.center
        a#createPdf.taskListAction.center.button(href="/hdc/pdf/create/" + templateName + "/" + bookingId
        role="button"
        target="_blank"
        onClick="setTimeout(function(){javascript:window.location.reload()}, 200)") Create licence
