extends ../layout

block content

  include ../includes/backToTaskList
  include ../includes/personalDetailsSummary

  h2.heading-large Reporting instructions
  p Enter the details of where the offender should report


  form#reportingForm(method='post')
    input(type="hidden" name="_csrf" value=csrfToken)
    input(type="hidden" name="bookingId" value=bookingId)

    div#address.pure-g
      div.pure-u-1.pure-u-md-2-5
        div.pure-g.largeMarginBottom.midPaddingBottom
          div.pure-u-1.pure-u-md-4-5
            div.form-group
              label.form-label(for="name") Name (or Duty Officer if unknown)
              input#name.form-control(name="name" type="text" value=data.name aria-label="Name (or Duty Officer's name)")

            div.form-group
              label.form-label(for="organisation") CRC/NPS organisation
              input#organisation.form-control(name="organisation" type="text" value=data.organisation aria-label="CRC or NPS organisation name")

            div.form-group
              label.form-label(for="building") Building and street
              input#building.midMarginBottom.form-control(name="buildingAndStreet1" type="text" value=data.buildingAndStreet1 aria-label="Building and street")
              input#street.form-control.block(name="buildingAndStreet2" type="text" value=data.buildingAndStreet2)

            div.form-group
              label.form-label(for="town") Town or city
              input#town.form-control(name="townOrCity" type="text" value=data.townOrCity aria-label="Town or city")

            div.pure-g
              div.pure-u-1.pure-u-md-3-5
                div.form-group
                  label.form-label(for="postcode") Postcode
                  input#postcode.form-control.small(name="postcode" type="text" value=data.postcode aria-label="Postcode")
            div.pure-g
              div.pure-u-1.pure-u-md-3-5
                div.form-group
                  label.form-label(for="telephone") Telephone
                  input#telephone.form-control.small(name="telephone" type="text" value=data.telephone aria-label="Telephone")

            p Enter the reporting date and time

            div(class=errorObject.reportingDate ? "form-group form-group-error": "form-group")
              fieldset
                if errorObject.reportingDate
                  legend
                    span.error-message #{errorObject.reportingDate}
                div.form-date
                  div.form-group.form-group-day
                    label.form-label(for="reportingDate") Day
                    input#reportingDate(class=errorObject.reportingDate ? "form-control-error form-control": "form-control" name="reportingDay" type="number" pattern="[0-9]*" value=data.reportingDay)

                  div.form-group.form-group-month
                    label.form-label(for="reportingMonth") Month
                    input#reportingMonth(class=errorObject.reportingDate ? "form-control-error form-control": "form-control" name="reportingMonth" type="number" pattern="[0-9]*" value=data.reportingMonth)

                  div.form-group.form-group-year
                    label.form-label(for="reportingYear") Year
                    input#reportingYear(class=errorObject.reportingDate ? "form-control-error form-control": "form-control" name="reportingYear" type="number" pattern="[0-9]*" value=data.reportingYear)

            div(class=errorObject.reportingTime ? "form-group form-group-error": "form-group")
              label.form-label(for="reportingTime")
                span Time
                if errorObject.reportingTime
                  span.error-message #{errorObject.reportingTime}
              input#reportingTime(class=errorObject.reportingTime ? "form-control-error form-control midMarginBottom": "midMarginBottom form-control" name="reportingTime" type="time" value=data.reportingTime)

    if (action === 'change')
      include ../includes/formSubmit
    else
      include ../includes/saveAndReturn

