extends ../layout
include ../includes/errorBannerWithDetail

block content

  div.pure-g
    div.pure-u-1
      include ../includes/back
      include ../includes/personalDetailsSummary
      +errorBannerWithDetail(errorObject, [{ field: 'reportingDate' }, { field: 'reportingTime' }])

  div.pure-g.largePaddingBottom
    div.pure-u-2-3
      h2.heading-large Enter reporting date and time

  form#reportingForm(method='POST')
    input(type="hidden" name="_csrf" value=csrfToken)
    input(type="hidden" name="bookingId" value=bookingId)
    input(type="hidden" name="path" value=action)

    div#address.pure-g
      div#error-anchor.pure-u-3-5
        div.form-group
          fieldset
            div.form-date
              div.form-group.form-group-day
                label.form-label(for="reportingDay") Day
                input.form-control#reportingDay(name="reportingDay" type="number" pattern="[0-9]*" value=data.reportingDay)

              div.form-group.form-group-month
                label.form-label(for="reportingMonth") Month
                input.form-control#reportingMonth(name="reportingMonth" type="number" pattern="[0-9]*" value=data.reportingMonth)

              div.form-group.form-group-year
                label.form-label(for="reportingYear") Year
                input.form-control#reportingYear(name="reportingYear" type="number" pattern="[0-9]*" value=data.reportingYear)

        div.form-group
          label.form-label(for="reportingTime") Time
          input#reportingTime.midMarginBottom.form-control(name="reportingTime" type="time" value=data.reportingTime)

    div.paddingTop
      include ../includes/saveAndReturn
