extends ../formTemplates/formTemplate

block question
    | Is the offender subject to a confiscation order?

block formItems
    - var confiscationOrderValue = data.decision || null;

    div.form-group.inline
        div.multiple-choice(data-target="consultedForm")
            input#confiscationOrderYes(type="radio" checked=confiscationOrderValue === 'Yes'  name="decision" value="Yes")
            label(for="confiscationOrderYes") Yes
        div.multiple-choice
            input#confiscationOrderNo(type="radio" checked=confiscationOrderValue === 'No' name="decision" value="No")
            label(for="confiscationOrderNo") No

    div#consultedForm.panel.panel-border-narrow.js-hidden
        p Has the prosecuting/enforcement authority and regional confiscation unit been consulted regarding the proposed release on HDC?
        if errorObject.confiscationUnitConsulted
            span.block.error-message #{errorObject.confiscationUnitConsulted}
        div.form-group.inline
            div.multiple-choice
                input#confiscationUnitConsultedYes(type="radio" checked=confiscationOrderValue === 'Yes'  name="confiscationUnitConsulted" value="Yes")
                label(for="confiscationUnitConsultedYes") Yes
            div.multiple-choice
                input#confiscationUnitConsultedNo(type="radio" checked=confiscationOrderValue === 'No' name="confiscationUnitConsulted" value="No")
                label(for="confiscationUnitConsultedNo") No

        label(for='comments') Comments
        if errorObject.comments
            span.block.error-message #{errorObject.comments}
        textarea(name='comments' id='comments' class='form-control' rows='4' aria-label="Enter comments about the offender's confiscation order")
            if data.comments
                | #{data.comments}
