extends ../layout

block content

    h1.heading-large Check prisoner details
    h2.heading-medium Personal details

    if !prisonerInfo

        p No prisoner details found

    else

        div#personalDetails.grid-row.borderBottom.paddingBottom
            div.column-one-quarter
                if(prisonerInfo.image.name)
                    img(src= "/public/images/"+prisonerInfo.image.name)
                if(prisonerInfo.image.uploadedDate)
                    span.subText Uploaded: #{moment(prisonerInfo.image.uploadedDate).format('DD/MM/YYYY')}

            div.column-one-quarter
                div.midMarginBottom
                    |Name
                    if(prisonerInfo.firstName || prisonerInfo.lastName)
                        span#prisonerName.block.bold #{prisonerInfo.lastName}, #{prisonerInfo.firstName}

                div.midMarginBottom
                    | Aliases
                    if(prisonerInfo.aliases)
                        span#prisonerAliases.block.bold #{prisonerInfo.aliases}

                div.midMarginBottom
                    | Nomis number
                    if(prisonerInfo.nomsId)
                        span#prisonerPrisonNumber.block.bold #{prisonerInfo.nomsId}

            div.column-one-quarter
                div.midMarginBottom
                    | Date of birth
                    if(prisonerInfo.dateOfBirth)
                        span#prisonerDob.block.bold #{moment(prisonerInfo.dateOfBirth).format('DD/MM/YYYY')}

                div.midMarginBottom
                    | Gender
                    if(prisonerInfo.gender)
                        span#prisonerSex.block.bold #{prisonerInfo.gender}

                div.midMarginBottom
                    | Location
                    if(prisonerInfo.location)
                        span#prisonerLocation.block.bold
                            if (prisonerInfo.location.block)
                                |#{prisonerInfo.location.block}
                            if (prisonerInfo.location.landing)
                                |&nbsp;| #{prisonerInfo.location.landing}
                            if (prisonerInfo.location.cell)
                                |&nbsp;| #{prisonerInfo.location.cell}
                        if (prisonerInfo.location.prison)
                            span.block.bold #{prisonerInfo.location.prison}

        h2.heading-medium Key dates

        div#keyDates.grid-row.paddingBottom
            div.column-one-quarter
                div.midMarginBottom
                    | Sentence expires
                    span#sentenceExpires.block.bold
                        if (prisonerInfo.dates.sentenceExpiry)
                            | #{moment(prisonerInfo.dates.sentenceExpiry).format('DD/MM/YYYY')}
                        else
                            | N/A

            div.column-one-quarter
                div.midMarginBottom
                    | HDC eligibility date
                    span#hdcEligibility.block.bold
                        if (prisonerInfo.dates.hdcEligibility)
                            | #{moment(prisonerInfo.dates.hdcEligibility).format('DD/MM/YYYY')}
                        else
                            | N/A

            div.column-one-quarter
                div.midMarginBottom
                    | Supervision commences
                    span#supervisionStart.block.bold
                        if (prisonerInfo.dates.supervisionStart)
                            | #{moment(prisonerInfo.dates.supervisionStart).format('DD/MM/YYYY')}
                        else
                            | N/A

                div.midMarginBottom
                    | Supervision ends
                    span#supervisionEnd.block.bold
                        if (prisonerInfo.dates.supervisionEnd)
                            | #{moment(prisonerInfo.dates.supervisionEnd).format('DD/MM/YYYY')}
                        else
                            | N/A

    div#continueBtns.inlineButtons
        form(method="post", name="formPrint")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="nomisId" value=nomisId)
            input.requiredButton.button(type="submit" value="Continue")
        a.requiredButton.button.button-secondary(href="/dashboard" role="button") Back to dashboard
