extends ../layout
include ../includes/errorBannerWithDetail

block content

    -var bassRequest = data && data.bassRequest || {}
    -var bassAreaCheck = data && data.bassAreaCheck || {}

    div.pure-g.pure-u-1
        include ../includes/back
        include ../includes/personalDetailsSummary

        h2.heading-large BASS requested

        div.pure-u-1.pure-u-md-1-2
            | The prisoner has requested the following area for a BASS property

            div.paddingTop.paddingBottom
                div.pure-u-1-2
                    div Proposed town
                    div.bold #{bassRequest.proposedTown}
                div.pure-u-1-2
                    div Proposed county or borough
                    div.bold #{bassRequest.proposedCounty}
        div.pure-u-1.pure-u-md-1-2

        hr

        h2.heading-medium BASS area check

        div.pure-u-1.pure-u-md-1-2.smallPaddingBottom
            | Is the area suitable for the offender to live in while on HDC?

        form(method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="bookingId" value=bookingId || '')
            div.paddingBottom.largeMarginBottom

                div.form-group.inline.smallPaddingTop
                    div.multiple-choice
                        input#yes(type="radio" checked=bassAreaCheck.bassAreaSuitable === 'Yes' name="bassAreaSuitable" value="Yes")
                        label(for="yes") Yes

                    div.multiple-choice(data-target="bassAreaDetails")
                        input#no(type="radio" checked=bassAreaCheck.bassAreaSuitable === 'No' name="bassAreaSuitable" value="No")
                        label(for="no") No

                div#bassAreaDetails.panel.panel-border-narrow.js-hidden
                    label(for='bassAreaReason') What are the reasons?
                        textarea(name='bassAreaReason' id='bassAreaReason' class='form-control' rows='2' aria-label="Provide reasons why the BASS area is unsuitable")
                            if bassAreaCheck.bassAreaReason
                                | #{bassAreaCheck.bassAreaReason}

            if (action === 'change')
                include ../includes/formSubmit
            else
                include ../includes/saveAndReturn


