extends ../layout
include ../includes/errorBannerWithDetail
include ../includes/errorBannerWithDetailObject

block content

  -var bassRequest = data && data.bassRequest || {}
  -var bassAreaCheck = data && data.bassAreaCheck || {}
  -var additionalInformation = data && data.bassRequest && data.bassRequest.additionalInformation || ''

  div.pure-g.pure-u-1
    include ../includes/back
    include ../includes/personalDetailsSummary
    +errorBannerWithDetail(errorObject)

    h2.heading-large BASS area check

    div.pure-u-1.pure-u-md-1-2
      if bassRequest.specificArea === 'Yes'
        | The offender has asked for a BASS property in the following area:

        div.paddingTop.paddingBottom
          div.pure-u-1-2
            div Proposed town
            div.bold#proposedTown #{bassRequest.proposedTown}
          div.pure-u-1-2
            div Proposed county or borough
            div.bold#proposedCounty #{bassRequest.proposedCounty}
      else
        div.pure-u-1-2
        div#noSpecificAreaMessage Offender does not have a preferred BASS area

    if  additionalInformation
     div.pure-u-1.pure-u-md-2-3.smallPaddingTop
      | Additional information
      p.bold #{additionalInformation}

    form(method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="bookingId" value=bookingId || '')
      input(type="hidden" name="bassAreaCheckSeen" value='true')
      

      
      div.form-group.inline

        h3(name = 'approvedAddressRequired' class = 'heading-medium pure-u-2-5' ) Does the offender need to be sent to approved premises?
        
        div#approvedPremisesRequiredYesNo(class=  errorObject.approvedPremisesRequiredYesNo ? "form-group form-group-error inline " : "form-group inline ")
          div.multiple-choice
            input#approvedPremisesRequiredYes(type="radio" checked=bassAreaCheck.approvedPremisesRequiredYesNo === 'Yes' name="approvedPremisesRequiredYesNo" value="Yes")
            label(for="approvedPremisesRequiredYes") Yes
          div.multiple-choice(data-target="bassAreaDetails")
            input#approvedPremisesRequiredNo(type="radio" checked=bassAreaCheck.approvedPremisesRequiredYesNo === 'No' name="approvedPremisesRequiredYesNo" value="No")
            label(for="approvedPremisesRequiredNo") No
            

        div#bassAreaDetails.js-hidden
          if bassRequest.specificArea === 'Yes'
            h2.heading-medium Is the area suitable for the offender to live in?

            div.form-group.inline.smallPaddingTop
              div.multiple-choice
                input#yes(type="radio" checked=bassAreaCheck.bassAreaSuitable === 'Yes' name="bassAreaSuitable" value="Yes")
                label(for="yes") Yes

              div.multiple-choice
                input#no(type="radio" checked=bassAreaCheck.bassAreaSuitable === 'No' name="bassAreaSuitable" value="No")
                label(for="no") No

          div.panel.panel-border-narrow   
            if bassRequest.specificArea === 'Yes'
              label(for='bassAreaReason') Explain your decision
            else
              label(for='bassAreaReason') Enter any information that may affect the choice of BASS accommodation (optional)
        
            textarea(name='bassAreaReason' id='bassAreaReason' class='form-control' rows='2' aria-label="Provide reasons why the BASS area is unsuitable")
              if bassAreaCheck.bassAreaReason
                | #{bassAreaCheck.bassAreaReason}



      include ../includes/formSubmit
