extends ../formTemplates/formTemplate

block question
    | Requested BASS area

block formItems

    -var bassRequest = data && data.bassRequest || {}
    input(type='hidden' name='bassRequested' value=bassRequest.bassRequested)

    div#bassFollowUps.pure-u-1.pure-u-md-1-2
        if errorObject.proposedTown
            span.error-message #{errorObject.proposedTown}
        div.form-group
            label(for='proposedTown') Proposed town:
            input(type='text' name='proposedTown' id='proposedTown' class='form-control' value=bassRequest.proposedTown aria-label="Proposed town")
        if errorObject.proposedCounty
            span.error-message #{errorObject.proposedCounty}
        div.form-group
            label(for='proposedCounty') Proposed county or borough:
            input(type='text' name='proposedCounty' id='proposedCounty' class='form-control' value=bassRequest.proposedCounty aria-label="Proposed county or borough")
