extends ../layout
include includes/additionalConditions
include ../risk/mixins

block content

  - var risk = data.risk && data.risk.riskManagement ? data.risk.riskManagement : {}

  include ../includes/backToCheckList
  include ../includes/personalDetailsSummary

  div.pure-u-1.pure-u-md-1-2.paddingBottom
    h2.heading-large Risk management

    if risk.version == '1'
      div.smallPaddingTop
        p Are there any risk management planning actions that must take place prior to release?

        span#planningActions.block.bold #{risk.planningActions}

      div.smallPaddingTop
        p Are you still awaiting information?

        span#awaitingInformation.block.bold #{risk.awaitingInformation}

    else 
      div.smallPaddingTop
        p Have you requested and considered current risk information from the police and children’s services related to the proposed address?

        span#hasConsideredChecks.block.bold #{risk.hasConsideredChecks}

      div.smallPaddingTop
        p Are you waiting for any other information?

        span#awaitingOtherInformation.block.bold #{risk.awaitingOtherInformation}

    if risk.riskManagementDetails
      div.smallPaddingTop
        p Details of your checks

        span#details.block.bold #{risk.riskManagementDetails}

    div.smallPaddingTop
      p Is the address proposed by the offender suitable?

      span#proposedAddressSuitable.block.bold #{risk.proposedAddressSuitable}

    if risk.proposedAddressSuitable === 'No'
      div.smallPaddingTop
        p Explain why you made your decision

        span#unsuitableReason.block.bold #{risk.unsuitableReason}

    if risk.proposedAddressSuitable === 'Yes'
      div.smallPaddingTop
        p Is there any additional information about the offender or the address (e.g. if it is difficult to access) to assist the EMS provider on the day of release?

        span#emsInformation.block.bold #{risk.emsInformation}

    if risk.proposedAddressSuitable === 'Yes' && risk.emsInformation === 'Yes'
      div.smallPaddingTop
        span#emsInformationDetails.block.bold #{risk.emsInformationDetails}

    if risk.version == '3'
      div.smallPaddingTop
        p Is it possible to manage the offender safely in the community if released to the proposed address?

        span#manageInTheCommunity.block.bold #{risk.manageInTheCommunity}

      if risk.manageInTheCommunity === 'No'
        div.smallPaddingTop
          p Explain why you made your decision

          span#manageInTheCommunityNotPossibleReason.block.bold #{risk.manageInTheCommunityNotPossibleReason}
      
      div.smallPaddingTop
        p Is it essential to the offender’s risk management that there is a plan in place to treat their mental health on release?

        span#mentalHealthPlan.block.bold #{risk.mentalHealthPlan}

      if risk.mentalHealthPlan === 'Yes'
        div.smallPaddingTop
          p Have you consulted with prison healthcare?

          span#prisonHealthcareConsultation.block.bold #{risk.prisonHealthcareConsultation}

      div.smallPaddingTop
        p Have you consulted the POM for information about the offender’s current progress in custody?

        span#pomConsultation.block.bold #{risk.pomConsultation}

  +readOnlyNonDisclosableInformation(risk)
