extends ../layout
include includes/additionalConditions

block content

    - var risk = data.risk && data.risk.riskManagement ? data.risk.riskManagement : {}

    div.back-link-container.smallPaddingTop
        a.link-back(href="javascript: window.history.back();") Back

    h2.heading-large Risk management and victim liaison

    div.pure-u-md-1-2.paddingBottom
        div
            h3.heading-medium.smallMarginTop Risk management

            div.smallPaddingTop
                p Are there any risk management planning actions that must take place prior to release?

                span#planningActions.block.bold #{risk.planningActions}
                span#planningActionsDetails.block.largePaddingBottom #{risk.planningActionsDetails}

            div.smallPaddingTop
                p Are you still awaiting information?

                span#awaitingInformation.block.bold #{risk.awaitingInformation}
                span#awaitingInformationDetails.block #{risk.awaitingInformationDetails}

        div.paddingBottom
            h3.heading-medium Victim liaison
            div.smallPaddingTop
                p Is this a Victim Contact Service qualifying case where the victim has opted in?

                span#victimLiaison.block.bold #{risk.victimLiaison}
                span#victimLiaisonDetails.block #{risk.victimLiaisonDetails}

    include ../includes/taskListReturn
