mixin additionalConditions(editable)
    - var allowEdit = (editable === 'editable')
    - var conditions = data.licenceConditions

    for condition, index in conditions
        div.additional.pure-g.borderBottomLight.midPaddingTopBottom
            div.pure-u-18-24.padRight30
                if condition.group
                    div.heading-small.noMargin.smallPaddingBottom
                        span.number Condition #{index + 1}
                        |  -
                        span.title  #{condition.group}
                            if condition.subgroup
                                |  -- #{condition.subgroup}
                            |  -
                            span.approved
                                if condition.approved == 'Yes'
                                    |  Approved
                                else
                                    span.alert  Not approved

                div.content
                    for item in condition.content
                        if item.text
                            | #{item.text}
                        if item.variable
                            span(class="bold") #{item.variable}


            if allowEdit
                div.pure-u-2-24
                div.pure-u-4-24
                    div
                        a.link(href="/hdc/licenceConditions/additionalConditions/" + nomisId + "#" + condition.id) Edit condition
                    div
                        form(method="post" action="/hdc/licenceConditions/additionalConditions/" + nomisId + "/delete/" + condition.id)
                            input(type="hidden" name="_csrf" value=csrfToken)
                            input(type="hidden" name="nomisId" value=nomisId || '')
                            input(type="hidden" name="conditionId" value=condition.id || '')

                            input.link(type="submit" value="Delete")

            if !allowEdit
                div.pure-u-6-24.alignRight
                    if(stage === 'PROCESSING_RO' && index == 0 && user.role === 'RO')
                        a#conditionsEditLink(href="/hdc/licenceConditions/additionalConditions/" + nomisId) Change these details



