h2#curfewAddressDetails.heading-medium.borderBottomLightThick.separatorTitle Proposed curfew address

-var address = data.proposedAddress.curfewAddress.addresses[0]

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Address
    div.pure-u-1-2
        div.pure-g
            div.pure-u-1-2#addressDetails
                if address.addressLine1
                    span#address1-curfew.block.bold #{address.addressLine1}
                if address.addressLine2
                    span#address2-curfew.block.bold #{address.addressLine2}
                if address.addressTown
                    span#town-curfew.block.bold #{address.addressTown}
                if address.postCode
                    span#postCode-curfew.block.bold #{address.postCode}
            div.pure-u-1-2.alignRight
                if (stage === 'PROCESSING_RO' && user.role === 'RO')
                    a#addressEditLink(href="/hdc/curfew/curfewAddressReview/0/" + nomisId) Change these details

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Contact number
    div.pure-u-1-2
        div#dischargeContactName
            if address.telephone
                span#telephone-curfew.bold #{address.telephone}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Main occupier details
    div.pure-u-1-2
        div.pure-g
            if address.occupier
                div.pure-u-1.pure-u-md-2-5
                    span#occupierName-curfew.bold #{address.occupier.name}
                div.pure-u-1.pure-u-md-1-5
                    span#occupierAge-curfew.bold #{address.occupier.age}
                div.pure-u-1.pure-u-md-2-5
                    span#occupierRelation-curfew.bold #{address.occupier.relationship}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Other occupants
    div.pure-u-1-2
        div.pure-g
            if address.residents
                for resident, index in address.residents
                    if(resident.name != '' || resident.age != '' || resident.relation != '')
                        div.pure-u-1.resident
                            div.pure-u-1.pure-u-md-2-5
                                span.bold(id="residentName-curfew-" + index) #{resident.name}
                            div.pure-u-1.pure-u-md-1-5
                                span.bold(id="residentAge-curfew-" + index) #{resident.age}
                            div.pure-u-1.pure-u-md-2-5
                                span.bold(id="residentRelation-curfew-" + index) #{resident.relation}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span According to the offender, have they been convicted or cautioned for an offence against any of the above, or any neighbours to the above address?
    div.pure-u-1-2
        div#dischargeContactNumber
            if address.cautionedAgainstResident
                span#cautioned-curfew.bold #{address.cautionedAgainstResident}

if address.consent
    div.pure-g.borderBottomLight.midPaddingTopBottom
        div.pure-u-1-2
            div.pure-g
                div.pure-u-3-4
                    span Does the homeowner/landlord give informed consent to HDC at the address?
        div.pure-u-1-2
            div#dischargeHomeAddress
                span#consent-curfew.bold #{address.consent}

    if(address.consent === 'Yes')
        div.pure-g.borderBottomLight.midPaddingTopBottom
            div.pure-u-1-2
                span Does the address have an electricity supply?
            div.pure-u-1-2
                if address.electricity
                    span#electricity-curfew.bold #{address.electricity}

        if(address.electricity === 'Yes')
            div.pure-g.borderBottomLight.midPaddingTopBottom
                div.pure-u-1-2
                    span Was a home visit conducted in this case?
                div.pure-u-1-2
                    span#homeVisit-curfew.bold #{address.homeVisitConducted}

            div.pure-g.borderBottomLight.midPaddingTopBottom
                div.pure-u-1-2
                    span Could this offender be managed safely at address?
                div.pure-u-1-2
                    span#deemedSafe-curfew.bold #{address.deemedSafe}
else
    div.pure-g.midPaddingTopBottom
        div.pure-u-1-2
            div.pure-g
                div.pure-u-3-4
                    span Address not reviewed
