include additionalConditions

div.largeMarginBottom

  if sections.bassArea
    div.borderBottom
      div.pure-g
        div.pure-u-1.pure-u-md-1-2
          h2#bassAreaDetails.heading-medium Proposed BASS area
        div.pure-u-1.pure-u-md-1-2.alignRight
          div.pure-u-md-1-2.change-details
            if (stage === 'PROCESSING_RO' && user.role === 'RO')
              a#bassEditLink(href="/hdc/bassReferral/bassAreaCheck/change/" + bookingId) Change

      if !showErrors || data.bassReferral && data.bassReferral.bassAreaCheck
        include bassArea
      else
        p.alert.bold(id='bass-address-error') Enter the BASS area details

  else if sections.approvedPremisesAddress
    div.borderBottom
      div.pure-g
        div.pure-u-1.pure-u-md-1-2
          h2#approvedPremisesDetails.heading-medium Approved premises
        div.pure-u-1.pure-u-md-1-2.alignRight
          div.pure-u-md-1-2.change-details
            if (stage === 'PROCESSING_RO' && user.role === 'RO')
              a#addressEditLink(href="/hdc/curfew/approvedPremises/change/" + bookingId) Change

      if errorObject.approvedPremisesAddress && (typeof errorObject.approvedPremisesAddress === 'string')
        p.alert.bold(id='approvedPremisesAddress-error') #{errorObject.approvedPremisesAddress}
      else
        include approvedPremisesAddress
  else
    div.borderBottom
      div.pure-g
        div.pure-u-1.pure-u-md-1-2
          h2#curfewAddressDetails.heading-medium Proposed curfew address
        div.pure-u-1.pure-u-md-1-2.alignRight
          div.pure-u-md-1-2.change-details
            if (stage === 'PROCESSING_RO' && user.role === 'RO')
              a#addressEditLink(href="/hdc/curfew/approvedPremises/change/" + bookingId) Change
            if(stage === 'ELIGIBILITY' && user.role === 'CA')
              a#addressEditLink(href="/hdc/proposedAddress/curfewAddress/change/" + bookingId) Change

      if errorObject.curfewAddress && (typeof errorObject.curfewAddress.curfewAddressReview === 'string')
        p.alert.bold(id='proposed-address-error') #{errorObject.curfewAddress.curfewAddressReview}
      else
        include curfewAddress

  if sections.riskManagement
    // Risk
    div.borderBottom
      div.pure-g
        div.pure-u-1.pure-u-md-1-2
          h2#riskDetails.heading-medium Risk
        if (stage === 'PROCESSING_RO' && user.role === 'RO')
          div.pure-u-1.pure-u-md-1-2.alignRight
            div.pure-u-md-1-2.change-details
              a#riskEditLink(href="/hdc/risk/riskManagement/change/" + bookingId) Change

      if errorObject.risk && typeof errorObject.risk.riskManagement === 'string'
        p.alert.bold(id='risk-error') #{errorObject.risk.riskManagement}
      else
        include riskManagement

  if sections.victimLiaison
    // Victim liaison
    div.borderBottom
      div.pure-g
        div.pure-u-1.pure-u-md-1-2
          h2#victimDetails.heading-medium Victim liaison
        if (stage === 'PROCESSING_RO' && user.role === 'RO')
          div.pure-u-1.pure-u-md-1-2.alignRight
            div.pure-u-md-1-2.change-details
              a#victimEditLink(href="/hdc/victim/victimLiaison/change/" + bookingId) Change

      if errorObject.victim && typeof errorObject.victim.victimLiaison === 'string'
        p.alert.bold(id='risk-error') #{errorObject.victim.victimLiaison}
      else
        include victimLiaison

  if sections.curfewHours
    // Curfew hours
    div.borderBottom
      div.pure-g
        div.pure-u-1.pure-u-md-1-2
          h2#curfewHoursDetails.heading-medium Proposed HDC curfew hours
        if (stage === 'PROCESSING_RO' && user.role === 'RO')
          div.pure-u-1.pure-u-md-1-2.alignRight
            div.pure-u-md-1-2.change-details
              a#curfewHoursEditLink(href="/hdc/curfew/curfewHours/change/" + bookingId) Change

      if errorObject.curfew && typeof errorObject.curfew.curfewHours === 'string'
        p.alert.bold(id='curfew-hours-error') #{errorObject.curfew.curfewHours}
      else
        include curfewHours

  if sections.additionalConditions
    // Additional condition
    div.borderBottom
      div.pure-g
        div.pure-u-1.pure-u-md-1-2
          h2.heading-medium Additional conditions
        if (stage === 'PROCESSING_RO' && user.role === 'RO')
          div.pure-u-1.pure-u-md-1-2.alignRight
            div.pure-u-md-1-2.change-details
              a#conditionsEditLink(href="/hdc/licenceConditions/standard/change/" + bookingId) Change

      if typeof errorObject.licenceConditions === 'string'
        p.alert.bold(id='additional-conditions-error') #{errorObject.licenceConditions}
      else
        if licenceStatus.decisions.standardOnly
          p No additional conditions selected
        else if data.licenceConditions && data.licenceConditions.length > 0
          +additionalConditions()
        else if showErrors
          p(id='noConditionsError' class="bold alert") Select one or more additional conditions
        else
          p Not complete

  if sections.reportingInstructions
    // Reporting instructions
    div.borderBottom
      div.pure-g
        div.pure-u-1.pure-u-md-1-2
          h2#reportingDetails.heading-medium Reporting instructions
        if (stage === 'PROCESSING_RO' && user.role === 'RO')
          div.pure-u-1.pure-u-md-1-2.alignRight
            div.pure-u-md-1-2.change-details
              a#reportingEditLink(href="/hdc/reporting/reportingInstructions/change/" + bookingId) Change

      if errorObject.reporting && typeof errorObject.reporting.reportingInstructions === 'string'
        p.alert.bold(id='reporting-error') #{errorObject.reporting.reportingInstructions}
      else
        include reportingInstructions

  if user.role == 'RO'
    div.taskListSingleLineItem.midPaddingBottom.borderBottom
      div.pure-u-1.pure-u-md-3-4
        h2.heading-medium Curfew address check form
      div.pure-u-1.pure-u-md-1-4.center.buttonContainer
        a#backBtn.requiredButton.button.smallMarginTop(href="/hdc/forms/curfewAddress/" + bookingId target="_blank" role="button") Create PDF
