include additionalConditions

h1.heading-large Licence details
div.largeMarginBottom

    include ../../taskList/prisonerDetails

    // Proposed address
    div.pure-g.borderBottomLight
        div.pure-u-md-1-2
            h2#curfewAddressDetails.heading-medium Proposed curfew address
        div.pure-u-md-1-2.alignRight
            div.pure-u-md-1-2.change-details
                if (stage === 'PROCESSING_RO' && user.role === 'RO')
                    a#addressEditLink(href="/hdc/curfew/curfewAddressReview/" + nomisId) Change these details
                if(stage === 'ELIGIBILITY' && user.role === 'CA')
                    a#addressEditLink(href="/hdc/proposedAddress/curfewAddress/" + nomisId) Change these details

    if typeof errorObject.proposedAddress === 'string'
        p.alert.bold(id='proposed-address-error') #{errorObject.proposedAddress}
    else
        include curfewAddress

    if (licenceStatus.decisions.curfewAddressApproved !== 'rejected')

        // Risk
        div.pure-g.borderBottomLight
            div.pure-u-md-1-2
                h2#riskDetails.heading-medium Risk management and victim liaison
            if (stage === 'PROCESSING_RO' && user.role === 'RO')
                div.pure-u-md-1-2.alignRight
                    div.pure-u-md-1-2.change-details
                        a#riskEditLink(href="/hdc/risk/riskManagement/" + nomisId) Change these details

        if typeof errorObject.risk === 'string'
            p.alert.bold(id='risk-error') #{errorObject.risk}
        else
            include riskManagement

        // Curfew hours
        div.pure-g.borderBottomLight
            div.pure-u-md-1-2
                h2#curfewHoursDetails.heading-medium Proposed HDC curfew hours
            if (stage === 'PROCESSING_RO' && user.role === 'RO')
                div.pure-u-md-1-2.alignRight
                    div.pure-u-md-1-2.change-details
                        a#curfewHoursEditLink(href="/hdc/curfew/curfewHours/" + nomisId) Change these details

        if typeof errorObject.curfew === 'string'
            p.alert.bold(id='curfew-hours-error') #{errorObject.curfew}
        else
            include curfewHours

        // Additional condition
        div.pure-g.borderBottomLight
            div.pure-u-md-1-2
                h2.heading-medium Additional conditions
            if (stage === 'PROCESSING_RO' && user.role === 'RO')
                div.pure-u-md-1-2.alignRight
                    div.pure-u-md-1-2.change-details
                        a#conditionsEditLink(href="/hdc/licenceConditions/additionalConditions/" + nomisId) Change these details

        if typeof errorObject.licenceConditions === 'string'
            p.alert.bold(id='additional-conditions-error') #{errorObject.licenceConditions}
        else
            if data.licenceConditions && data.licenceConditions.length > 0
                +additionalConditions()
            else
                | No additional conditions selected

        // Reporting instructions
        div.pure-g.borderBottomLight
            div.pure-u-md-1-2
                h2#reportingDetails.heading-medium Reporting instructions
            if (stage === 'PROCESSING_RO' && user.role === 'RO')
                div.pure-u-md-1-2.alignRight
                    div.pure-u-md-1-2.change-details
                        a#reportingEditLink(href="/hdc/reporting/reportingInstructions/" + nomisId) Change these details

        if typeof errorObject.reporting === 'string'
            p.alert.bold(id='reporting-error') #{errorObject.reporting}
        else
            include reportingInstructions
