include additionalConditions

mixin change(url, anchorId)
  a(id=anchorId href=url) Change

mixin alert(text, id)
  p.alert.bold(id=id) #{text}

mixin titleRow(title, titleId)
  div.pure-g
    div.pure-u-1.pure-u-md-1-2
      h2(id=titleId).heading-medium #{title}
    div.pure-u-1.pure-u-md-1-2.alignRight
      div.pure-u-md-1-2.change-details
        block

mixin roCase
  if (stage === 'PROCESSING_RO' && user.role === 'RO')
    block

mixin caCase
  if(stage === 'ELIGIBILITY' && user.role === 'CA')
    block

mixin errorMessageOrBlock(errorMessage, errorId)
  if errorMessage && typeof(errorMessage) === 'string'
    +alert(errorMessage, errorId)
  else
    block

div.largeMarginBottom

  if (sections.bassArea && sections.approvedPremisesAddress)
    div.borderBottom
        +titleRow('Approved premises', 'approvedPremisesDetails')
          +roCase
            +change("/hdc/bassReferral/bassAreaCheck/" + bookingId, 'addressEditLink')
        +errorMessageOrBlock( errorObject.bassReferral && errorObject.bassReferral.approvedPremisesAddress, 'approvedPremisesAddress-error')
          include approvedPremisesAddress
  else if sections.bassArea
    div.borderBottom
      +titleRow('Proposed BASS area', 'bassAreaDetails')
        +roCase
          +change("/hdc/bassReferral/bassAreaCheck/change/" + bookingId, 'bassEditLink' )

      if !showErrors || data.bassReferral && data.bassReferral.bassAreaCheck
        include bassArea
      else
        +alert('Enter the BASS area details', 'bass-address-error')

  else if sections.approvedPremisesAddress
    div.borderBottom
      +titleRow('Approved premises', 'approvedPremisesDetails')
        +roCase
          +change("/hdc/curfew/approvedPremises/change/" + bookingId, 'addressEditLink')

      +errorMessageOrBlock(errorObject.curfew && errorObject.curfew.approvedPremisesAddress, 'approvedPremisesAddress-error')
        include approvedPremisesAddress
  else
    div.borderBottom
      +titleRow('Proposed curfew address', 'curfewAddressDetails')
        +roCase
          +change("/hdc/curfew/approvedPremises/change/" + bookingId, 'addressEditLink')
        +caCase
          +change("/hdc/proposedAddress/curfewAddress/change/" + bookingId, 'addressEditLink')

      +errorMessageOrBlock(errorObject.curfew && errorObject.curfew.curfewAddressReview, 'proposed-address-error')
        include curfewAddress

  if sections.riskManagement
    div.borderBottom
      +titleRow('Risk', 'riskDetails')
        +roCase
          +change("/hdc/risk/riskManagement/change/" + bookingId, 'riskEditLink')

      +errorMessageOrBlock(errorObject.risk && errorObject.risk.riskManagement, 'risk-error')
        include riskManagement

  if sections.victimLiaison
    div.borderBottom
      +titleRow('Victim liaison', 'victimDetails')
        +roCase
          +change("/hdc/victim/victimLiaison/change/" + bookingId, 'victimEditLink')

      +errorMessageOrBlock(errorObject.victim && errorObject.victim.victimLiaison, 'victim-error')
        include victimLiaison

  if sections.curfewHours
    div.borderBottom
      +titleRow('Proposed HDC curfew hours', 'curfewHoursDetails')
        +roCase
          +change("/hdc/curfew/curfewHours/change/" + bookingId, 'curfewHoursEditLink')

      +errorMessageOrBlock(errorObject.curfew && errorObject.curfew.curfewHours, 'curfew-hours-error')
        include curfewHours

  if sections.additionalConditions
    div.borderBottom
      +titleRow('Additional conditions', 'additionalConditions')
        +roCase
          +change("/hdc/licenceConditions/standard/change/" + bookingId, 'conditionsEditLink')

      +errorMessageOrBlock(errorObject.licenceConditions, 'additional-conditions-error')
        if licenceStatus.decisions.standardOnly
          p No additional conditions selected
        else if data.licenceConditions && data.licenceConditions.length > 0
          +additionalConditions()
          div.pure-g.borderBottomLight.midPaddingTopBottom
            div.pure-u-1.pure-u-md-18-24.sm-padRight30.u-paddingBottom
              div.heading-small.noMargin.smallPaddingBottom Explain why you selected these conditions
              div.conditionSummary.content(data-qa="additionalConditionsJustification") #{data.additionalConditionsJustification}

        else if showErrors
          p(id='noConditionsError' class="bold alert") Select one or more additional conditions
        else
          p Not complete

  if sections.reportingInstructions
    div.borderBottom
      +titleRow('Reporting instructions', 'reportingDetails')
        +roCase
          +change("/hdc/reporting/reportingInstructions/change/" + bookingId, 'reportingEditLink')

      +errorMessageOrBlock(errorObject.reporting && errorObject.reporting.reportingInstructions, 'reporting-error')
        include reportingInstructions

  if user.role == 'RO'
    div.taskListSingleLineItem.midPaddingBottom.borderBottom
      div.pure-u-1.pure-u-md-3-4
        h2.heading-medium Curfew address check form
      div.pure-u-1.pure-u-md-1-4.center.buttonContainer
        a#backBtn.requiredButton.button.smallMarginTop(href="/hdc/forms/curfewAddress/" + bookingId target="_blank" role="button") Create PDF
