extends ../layout

block content

  div.pure-g
    div.pure-u-1
      if isAdmin
        include ../includes/backToHome
      else
        include ../includes/back

  - var showCaseLoads = !isAdmin && allCaseLoads.length > 1
  - var pageTitle = allRoles && allRoles.length > 1 ? "Change your role or location" : "Change your location"

  if allRoles.length > 1 || showCaseLoads

    form(method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="bookingId" value=bookingId || '')

      h2.pure-u-1.heading-large
        | #{pageTitle}

      if allRoles.length > 1

        div.pure-u-1.pure-u-sm-2-5
          div.form-group
            label.form-label(for="selectRole") Select role
            select.form-control#selectRole(name="role")
              option(value="" disabled selected) -- select --
              for role in allRoles
                option(value=role, selected=role === user.role) #{role}

        div.pure-u-1.pure-u-sm-1-5

      if showCaseLoads

        div.pure-u-1.pure-u-sm-2-5
          div.form-group
            label.form-label(for="selectCaseLoad") Select location
            select.form-control#selectCaseLoad(name="caseLoadId")
              option(value="" disabled selected) -- select --
              for caseLoad in allCaseLoads
                option(value=caseLoad.caseLoadId, selected=caseLoad.caseLoadId === user.activeCaseLoadId) #{caseLoad.description}

      div.pure-u-1.inlineButtons.paddingBottom.largeMarginTop
        input#continueBtn.requiredButton.button.midMarginBottom(type="submit" value="Submit")
        a#backBtn.requiredButton.button.button-secondary(href="javascript: window.history.back();" role="button") Back
