table.largeMarginBottom
  thead
    tr
      th Delius staff code
      th Name
      th Assigned Offender
      th Mapped?
      th In SSO?
      th Mapped Nomis ID
      th Mapped name
      th
  tbody
    if incompleteUsers && incompleteUsers.length > 0
      each incompleteUser, index in incompleteUsers
        tr.hdcEligible
          td
            if incompleteUser.assignedId
              | #{incompleteUser.assignedId}
          td
            if incompleteUser.assignedName
              | #{incompleteUser.assignedName}
          td
            if incompleteUser.offenderNo
              | #{incompleteUser.offenderNo}
          td.center
            if incompleteUser.mapped
              img(src="/public/images/large_tick.svg" alt="white tick" height="30px")
          td.center
            if incompleteUser.onboarded
              img(src="/public/images/large_tick.svg" alt="white tick" height="30px")
          td
            if incompleteUser.nomisId
              | #{incompleteUser.nomisId}
          td
            if incompleteUser.first
              | #{incompleteUser.first}
            if incompleteUser.last
              |  #{incompleteUser.last}

          td.edit
            if incompleteUser.mapped
              a.button.button-primary.fullWidth.center(href="/admin/roUsers/edit/" + incompleteUser.nomisId role="button")
                | Edit
            else
              form(method='POST' action='/admin/roUsers/incomplete/add')
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="hidden" name="assignedId" value=incompleteUser.assignedId)
                input(type="hidden" name="assignedName" value=incompleteUser.assignedName)
                input#continueBtn.requiredButton.button.smallMarginTop(type="submit" value="Add user")

