mixin startContinueChange(task, path, id)

  - var unstarted = !task || task === 'UNSTARTED'
  - var complete = task === 'DONE'

  if unstarted
    a.taskListAction.center.button(href=path, id=id) Start now

  else if complete
    a.taskListAction(href=path, id=id) Change

  else
    a.taskListAction.center.button(href=path, id=id) Continue


