extends ../layout

block content

  -var address = approvedPremisesAddress || {}

  div.pure-g.pure-u-1
    div.borderBottomLight
      include ../includes/back
      include ../includes/personalDetailsSummary

      h2.heading-large Approved premises address

      if Object.keys(errorObject).length !== 0
        div.pure-g
          div.error-summary.pure-u-1.pure-u-md-1-2(role="alert" aria-labelledby="error-summary-heading" tabindex="-1")
            h2.heading-medium.error-summary-heading#error-summary-heading
              | There is a problem
            ul.error-summary-list
              each error, index in errorObject
                li
                  a(href="#" + index) #{error}

      form(method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="bookingId" value=bookingId || '')
        div.pure-g.paddingBottom
          div.pure-u-1.pure-u-md-1-2
            div.pure-g
              div.pure-u-1.pure-u-md-3-5

                div.form-group.midMarginBottom
                  label.form-label(for="addressLine1") Building and street
                  input(id="addressLine1" name="addressLine1" value=data.addressLine1 autofocus aria-label="Building and street" class=errorObject.addressLine1 ? "form-control form-control-error" : "form-control")
                  input.form-control.smallMarginTop(id="addressLine2" name="addressLine2" value=data.addressLine2)

                div.form-group.midMarginBottom
                  label.form-label(for="addressTown") Town or city
                  input(id="addressTown" name="addressTown" value=data.addressTown aria-label="Town or city" class=errorObject.addressTown ? "form-control form-control-error" : "form-control")

                div.form-group.midMarginBottom.pure-u-sm-1.pure-u-md-1-2
                  label.form-label(for="postCode") Postcode
                  input(id="postCode" name="postCode" value=data.postCode aria-label="Postcode" class=errorObject.postCode ? "form-control form-control-error" : "form-control")

                div.form-group.pure-u-sm-1.pure-u-md-3-4
                  label.form-label(for="telephone") Telephone
                  input.form-control(id="telephone" name="telephone" value=data.telephone aria-label="Telephone" class=errorObject.telephone ? "form-control form-control-error" : "form-control")


        include ../includes/formSubmit
