extends ../layout

block content
    -var daysInAWeek = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]

    include ../includes/backToTaskList
    include ../includes/personalDetailsSummary

    h2.heading-large HDC curfew hours

    form(method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="bookingId" value=bookingId || '')

        div.pure-g.largePaddingBottom.largeMarginBottom.paddingTop
            div.pure-u-1.pure-u-md-4-5
                div.pure-g.smallPaddingBottom
                    div.pure-u-1-4
                    div.pure-u-1-4
                        span.bold Time from
                    div.pure-u-1-2
                        span.bold Time to
                div.pure-g
                    div.pure-u-1-4
                        span.bold Monday to Sunday
                    div.pure-u-1-4
                        div.tinyPaddingBottom
                            label(for="allFrom", class="form-label")
                                div.pure-g.content-pull
                                    div.pure-u-1-3
                                        div.l-box
                                            input(name="allFrom", id="allFrom" class="form-control", value=data.allFrom || "19:00", type="time")
                                    div.pure-u-2-3

                    div.pure-u-1-2
                        div.tinyPaddingBottom
                            label(for="allUntil", class="form-label")
                                div.pure-g.content-pull
                                    div.pure-u-1-3
                                        div.l-box
                                            input(name="allUntil", id="allUntil" class="form-control", value=data.allUntil || "07:00", type="time")
                                    div.pure-u-2-3



        div.largePaddingBottom
            h2.heading-medium Do you need to enter different times for each day?

            div.form-group.inline.smallPaddingTop

                div.multiple-choice(data-target="daySpecificInputs")
                    input#yes(type="radio" checked=data.daySpecificInputs === "Yes" name="daySpecificInputs" value="Yes")
                    label(for="yes") Yes
                div.multiple-choice
                    input#no(type="radio" checked=data.daySpecificInputs !== "Yes" name="daySpecificInputs" value="No")
                    label(for="no") No

            div#daySpecificInputs.pure-u-1.pure-u-md-4-5.js-hidden
                div.pure-g.smallPaddingBottom
                    div.pure-u-1-4
                    div.pure-u-1-4
                        span.bold Time from
                    div.pure-u-1-2
                        span.bold Time to

                for day in daysInAWeek
                    div.pure-g
                        div.pure-u-1-4
                            span.bold.capitalize #{day}
                        div.pure-u-1-4
                            div.tinyPaddingBottom
                                label(for=day+"From", class="form-label")
                                    div.pure-g.content-pull
                                        div.pure-u-1-3
                                            div.l-box
                                                input(name=day+"From", id=day+"From" class="form-control", value=data[day + 'From'] || "19:00", type="time")
                                        div.pure-u-2-3

                        div.pure-u-1-2
                            div.tinyPaddingBottom
                                label(for=day+"Until", class="form-label")
                                    div.pure-g.content-pull
                                        div.pure-u-1-3
                                            div.l-box
                                                input(name=day+"Until", id=day+"Until" class="form-control", value=data[day + 'Until'] || "07:00", type="time")
                                        div.pure-u-2-3

        include ../includes/roModificationWarning

        if (action === 'change')
            include ../includes/formSubmit
        else
            include ../includes/saveAndReturn

