extends ../layout
include ../proposedAddress/includes/addressDetail

block content

  -var address = proposedAddress || {}

  div.pure-g.pure-u-1
    div.borderBottomLight
      include ../includes/back
      include ../includes/personalDetailsSummary

      h2.heading-large Proposed curfew address

      if address

        +addressDetail('curfew', address, {}, {})

    form(method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="bookingId" value=bookingId || '')
      div.pure-g.largePaddingBottom
        div.pure-u-1.pure-u-sm-5-12.pure-g
          div.form-group.inline.paddingTop
            if !licenceStatus.decisions.offenderIsMainOccupier

              h3.heading-medium Does the main occupier consent to HDC?

              div.multiple-choice(data-target="consentForm")
                input#hdcConsentYes(type="radio" checked=data.consent === 'Yes' name="consent" value="Yes")
                label(for="hdcConsentYes") Yes
              div.multiple-choice
                input#hdcConsentNo(type="radio" checked=data.consent === 'No' name="consent" value="No")
                label(for="hdcConsentNo") No

              div#consentForm.panel.panel-border-narrow.js-hidden
                div.form-group
                  p Is there an electricity supply?
                  div.multiple-choice
                    input#electricityYes(type="radio" checked=data.electricity === 'Yes' name="electricity" value="Yes")
                    label(for="electricityYes") Yes
                  div.multiple-choice
                    input#electricityNo(type="radio" checked=data.electricity === 'No' name="electricity" value="No")
                    label(for="electricityNo") No

                div.form-group
                  p Did you do a home visit?
                  div.multiple-choice
                    input#homeVisitConductedYes(type="radio" checked=data.homeVisitConducted === 'Yes' name="homeVisitConducted" value="Yes")
                    label(for="homeVisitConductedYes") Yes
                  div.multiple-choice
                    input#homeVisitConductedNo(type="radio" checked=data.homeVisitConducted === 'No' name="homeVisitConducted" value="No")
                    label(for="homeVisitConductedNo") No

            else
              div#consentForm

                h3.heading-medium Curfew address review

                div.form-group
                  p Is there an electricity supply?
                  div.multiple-choice
                    input#electricityYes(type="radio" checked=data.electricity === 'Yes' name="electricity" value="Yes")
                    label(for="electricityYes") Yes
                  div.multiple-choice
                    input#electricityNo(type="radio" checked=data.electricity === 'No' name="electricity" value="No")
                    label(for="electricityNo") No

                div.form-group
                  p Did you do a home visit?
                  div.multiple-choice
                    input#homeVisitConductedYes(type="radio" checked=data.homeVisitConducted === 'Yes' name="homeVisitConducted" value="Yes")
                    label(for="homeVisitConductedYes") Yes
                  div.multiple-choice
                    input#homeVisitConductedNo(type="radio" checked=data.homeVisitConducted === 'No' name="homeVisitConducted" value="No")
                    label(for="homeVisitConductedNo") No

          div.form-group
            label(for='addressReviewComments') Provide details (optional)
              textarea(name='addressReviewComments' id='addressReviewComments' class='form-control' rows='5' aria-label="Provide details")
                if data.addressReviewComments
                  | #{data.addressReviewComments}


      include ../includes/formSubmit
