if hdcEligible && hdcEligible.length <= 0
    p No offenders found
else
    table#hdcEligiblePrisoners.largeMarginBottom
        thead
            tr
                th Name
                th Prison no.
                th Location
                th HDCED
                th CRD / ARD
                th Responsible Officer
                th Current status
        tbody
            each prisoner, index in hdcEligible
                tr.hdcEligible(class=index % 2 === 1 ? 'greyRow' : undefined)

                    td.name
                        if ['PROCESSING_RO'].includes(prisoner.stage)
                            a(href="/hdc/taskList/" + prisoner.offenderNo)
                                |
                                if prisoner.lastName
                                    | #{prisoner.lastName}
                                    if prisoner.firstName
                                        | , #{prisoner.firstName}

                        else
                            a(href="/hdc/review/licence/" + prisoner.offenderNo)
                                |
                                if prisoner.lastName
                                    | #{prisoner.lastName}
                                    if prisoner.firstName
                                        | , #{prisoner.firstName}

                    td.offenderNo
                        if prisoner.offenderNo
                            | #{prisoner.offenderNo}

                    td.location
                        if prisoner.internalLocationDesc
                            | #{prisoner.internalLocationDesc}
                        if prisoner.internalLocationDesc && prisoner.agencyLocationDesc
                            |  - #{prisoner.agencyLocationDesc}

                    td.hdced
                        if prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate
                            | #{prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate}

                    td.crd
                        if prisoner.sentenceDetail.releaseDate
                            | #{prisoner.sentenceDetail.releaseDate}

                    td.ro
                        if prisoner.com
                            | #{prisoner.com}

                    td.status
                        if prisoner.status
                            | #{prisoner.status}

