if hdcEligible && hdcEligible.length <= 0
    p No HDC eligible offenders found
else
    table#hdcEligiblePrisoners.largeMarginBottom
        thead
            tr
                th.sortable Name
                th.hideMobile Prison no.
                th.sortable Request received
                th.sortable.hideMobile Status
        tbody
            each prisoner, index in hdcEligible
                tr.hdcEligible

                    td.name
                        if ['PROCESSING_RO'].includes(prisoner.stage)
                            a(href="/hdc/taskList/" + prisoner.bookingId)
                                |
                                if prisoner.firstName
                                    | #{prisoner.firstName}
                                if prisoner.lastName
                                    |  #{prisoner.lastName}

                        else if ['UNSTARTED'].includes(prisoner.stage)
                            if prisoner.lastName
                                | #{prisoner.lastName}
                                if prisoner.firstName
                                    | , #{prisoner.firstName}

                        else
                            a(href="/hdc/review/licence/" + prisoner.bookingId)
                                |
                                if prisoner.lastName
                                    | #{prisoner.lastName}
                                    if prisoner.firstName
                                        | , #{prisoner.firstName}


                    td.offenderNo
                        if prisoner.offenderNo
                            | #{prisoner.offenderNo}

                    td.location
                        if prisoner.received
                            | #{prisoner.received.text}

                    td.hdced
                        if prisoner.status
                            | #{prisoner.status}

