mixin detail(type, details)
  case type
    when 'SEND'
        + send(details)
    when 'UPDATE_SECTION'
        + updateSection(details)
    when 'NOTIFY'
        + notify(details)
    when 'RESET'
        | Licence has been reset
    default
        | &nbsp;   

mixin defaultType(type, details)
    | #{type} #{details}


mixin send(details)
    case details.transitionType
      when 'caToRo'
          | Sent from CA → RO
      when 'roToCa'
          | Sent from RO → CA
      when 'roToCaAddressRejected'
          | Sent from RO → CA (Address rejected)
      when 'roToCaOptedOut'
          | Sent from RO → CA (Opted out)
      when 'caToDm'
          | Sent from CA → DM
      when 'caToDmRefusal'
          | Sent from CA → DM (Refusal)
      when 'dmToCa'
          | Sent from DM → CA
      when 'dmToCaReturn'
          | Sent from DM → CA (Return)
      default
          | #{transitionType}

mixin updateSection(details)
    | Provided details for '#{details.path.replace(/\/hdc\/(.*?)\/[\d]+/, "$1")}'

mixin notify(details)
    | #{details.notifications.length} notifications sent of type: '#{details.notificationType}'

mixin assignedTo(val)
  case val
    when 'PROCESSING_RO'
    when 'VARY'
       | Community Offender Manager
    when 'APPROVAL'
    when 'MODIFIED_APPROVAL'
       | Decision Maker
    default
       | Prison Case Admin 

div.borderBottom.paddingBottom
  
  h2.heading-medium Case status
    if licence.deleted_at !== null 
      span.alert.bold.right [DELETED]&nbsp;

  div.pure-g
    div.pure-u-1.pure-u-md-1-2
      p
        span.bold Current stage:&nbsp;
        span #{licence.stage}
      if licence.deleted_at !== null
        p
          span.bold Deleted:&nbsp;
          span #{licence.deleted_at && licence.deleted_at.toLocaleString()}        
      p
        span.bold Currently Assigned to:&nbsp;
        span 
          + assignedTo(licence.stage)
      p
        span
          a(href='/admin/licences/' + licenceId + '/raw') View raw
    div.pure-u-1.pure-u-md-1-2
        if licence && licence.stage === 'PROCESSING_RO' && !licence.deleted_at 
            div.alignRight
                a.button.smallMarginBottom(href='/admin/licences/' + licence.bookingId + '/notifyRo') Notify COM of case handover
        
        if licence && licence.deleted_at == null          
            div.alignRight
                a.button(id='reset-licence'  href='/admin/licences/events/' + licence.bookingId + '/reset-licence') Reset licence
div.borderBottom.paddingBottom

  h2.heading-medium HDC activity for booking: #{licence.bookingId}
  table.largeMarginBottom
    thead
        tr
        th Timestamp
        th User
        th Action
        th Details
    tbody
        each event in events
          tr
          td.link
              a(id='event-'+ event.id  href='/admin/licences/events/' + event.id + '/raw') #{event.timestamp}
          td.user
              | #{event.user}
          td.action
              | #{event.action}
          td.details
              + detail(event.type, event.details)



