h2.heading-medium.borderBottom.separatorTitle Planned curfew address
-var address = licence.proposedAddress.curfewAddress


div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Address
    div.pure-u-1-2
        div#dischargeAddress
            if address.addressLine1
                span.block.bold #{address.addressLine1}
            if address.addressLine2
                span.block.bold #{address.addressLine2}
            if address.addressTown
                span.block.bold #{address.addressTown}
            if address.postCode
                span.block.bold #{address.postCode}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Contact number
    div.pure-u-1-2
        div#dischargeContactName
            if address.telephone
                span.bold #{address.telephone}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Main occupier details
    div.pure-u-1-2
        div.pure-g
            if address.occupier
                div.pure-u-md-2-5
                    span.bold #{address.occupier.name}
                div.pure-u-md-1-5
                    span.bold #{address.occupier.age}
                div.pure-u-md-2-5
                    span.bold #{address.occupier.relationship}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Other occupants
    div.pure-u-1-2
        div.pure-g
            if address.residents
                for resident in address.residents
                    if (resident.name !== "" && resident.age !== "" && resident.relation !== "")
                        div.pure-u-md-2-5
                            span.bold #{resident.name}
                        div.pure-u-md-1-5
                            span.bold #{resident.age}
                        div.pure-u-md-2-5
                            span.bold #{resident.relation}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span Has the offender been convicted or cautioned for an offence against any of the above, or any neighbours to the above address?
    div.pure-u-1-2
        div#dischargeContactNumber
            if address.cautionedAgainstResident
                span.bold #{address.cautionedAgainstResident}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span Does the homeowner/landlord give informed consent to HDC at the address?
    div.pure-u-1-2
        div#dischargeHomeAddress
            span.bold NO IDEA

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Was a home visit conducted in this case?
    div.pure-u-1-2
        span.bold NO IDEA

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Does the address have an electricity supply?
    div.pure-u-1-2
        if address.electricity
            span.bold #{address.electricity}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Are you happy for this to be the curfew address?
    div.pure-u-1-2
        span.bold NO IDEA
