h2.heading-medium.borderBottomLightThick.separatorTitle Proposed curfew address

-var address = data.proposedAddress.curfewAddress.preferred

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Address
    div.pure-u-1-2
        div.pure-g
            div.pure-u-1-2#addressDetails
                if address.addressLine1
                    span#curfew-address1.block.bold #{address.addressLine1}
                if address.addressLine2
                    span#curfew-address2.block.bold #{address.addressLine2}
                if address.addressTown
                    span#curfew-town.block.bold #{address.addressTown}
                if address.postCode
                    span#curfew-postCode.block.bold #{address.postCode}
            div.pure-u-1-2.alignRight
                if user.role === 'RO'
                    a#addressEditLink(href="/hdc/curfew/curfewAddressReview/" + nomisId) Change these details

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Contact number
    div.pure-u-1-2
        div#dischargeContactName
            if address.telephone
                span#curfew-telephone.bold #{address.telephone}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Main occupier details
    div.pure-u-1-2
        div.pure-g
            if address.occupier
                div.pure-u-md-2-5
                    span#curfew-occupierName.bold #{address.occupier.name}
                div.pure-u-md-1-5
                    span#curfew-occupierAge.bold #{address.occupier.age}
                div.pure-u-md-2-5
                    span#curfew-occupierRelation.bold #{address.occupier.relationship}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Other occupants
    div.pure-u-1-2
        div.pure-g
            if address.residents
                for resident, index in address.residents
                    if(resident.name != '' || resident.age != '' || resident.relation != '')
                        div.pure-u-1.resident
                            div.pure-u-md-2-5
                                span.bold(id="curfew-residentName-" + index) #{resident.name}
                            div.pure-u-md-1-5
                                span.bold(id="curfew-residentAge-" + index) #{resident.age}
                            div.pure-u-md-2-5
                                span.bold(id="curfew-residentRelation-" + index) #{resident.relation}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span According to the offender, have they been convicted or cautioned for an offence against any of the above, or any neighbours to the above address?
    div.pure-u-1-2
        div#dischargeContactNumber
            if address.cautionedAgainstResident
                span#curfew-cautioned.bold #{address.cautionedAgainstResident}

if data.curfew && data.curfew.curfewAddressReview
    -var addressReview = data.curfew.curfewAddressReview || {}
    -var addressSafety = data.curfew.addressSafety || {}

    div.pure-g.borderBottomLight.midPaddingTopBottom
        div.pure-u-1-2
            div.pure-g
                div.pure-u-3-4
                    span Does the homeowner/landlord give informed consent to HDC at the address?
        div.pure-u-1-2
            div#dischargeHomeAddress
                span#curfew-consent.bold #{addressReview.consent}

    div.pure-g.borderBottomLight.midPaddingTopBottom
        div.pure-u-1-2
            span Was a home visit conducted in this case?
        div.pure-u-1-2
            span#curfew-homeVisit.bold #{addressReview.homeVisitConducted}

    div.pure-g.borderBottomLight.midPaddingTopBottom
        div.pure-u-1-2
            span Does the address have an electricity supply?
        div.pure-u-1-2
            if addressReview.electricity
                span#curfew-electricity.bold #{addressReview.electricity}

    div.pure-g.borderBottomLight.midPaddingTopBottom
        div.pure-u-1-2
            span Could this offender be managed safely at address?
        div.pure-u-1-2
            span#curfew-deemedSafe.bold #{addressSafety.deemedSafe}
else
    div.pure-g.midPaddingTopBottom
        div.pure-u-1-2
            div.pure-g
                div.pure-u-3-4
                    span Address not reviewed
