h2.heading-medium.borderBottom.separatorTitle Planned discharge address
div.grid-row
    div.column-two-thirds
        div.grid-row
            div.column-full
                div.borderBottomLight.smallPaddingTopBottom
                    div.grid-row
                        div.column-one-third Address
                        div#dischargeAddress.column-two-thirds
                            if dischargeAddress.address1
                                span.block #{dischargeAddress.address1}
                            if dischargeAddress.address2
                                span.block #{dischargeAddress.address2}
                            if dischargeAddress.address3
                                span.block #{dischargeAddress.address3}
                            if dischargeAddress.postCode
                                span.block #{dischargeAddress.postCode}

            div.column-full
                div.borderBottomLight.smallPaddingTopBottom
                    div.grid-row
                        div.column-one-third Contact name
                        div#dischargeContactName.column-two-thirds
                            if dischargeAddress.contact
                                | #{dischargeAddress.contact}

            div.column-full
                div.borderBottomLight.smallPaddingTopBottom
                    div.grid-row
                        div.column-one-third Contact number
                        div#dischargeContactNumber.column-two-thirds
                            if dischargeAddress.contactNumber
                                | #{dischargeAddress.contactNumber}

            div.column-full
                div.borderBottomLight.smallPaddingTopBottom
                    div.grid-row
                        div.column-one-third Home address?
                        div#dischargeHomeAddress.column-two-thirds
                            if dischargeAddress.homeAddress
                                | #{dischargeAddress.homeAddress}

            div.column-full
                div.borderBottomLight.smallPaddingTopBottom
                    div.grid-row
                        div.column-one-third Reason for request
                        div#dischargeReason.column-two-thirds
                            if dischargeAddress.reason
                                | #{dischargeAddress.reason}
