h2#reportingDetails.heading-medium.borderBottomLightThick.separatorTitle Reporting instructions

-var reportingInstructions = data.reporting.reportingInstructions

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span Name of person
    div.pure-u-1-2
        div.pure-g
            div.pure-u-2-3
                if reportingInstructions.name
                    span#reportingName #{reportingInstructions.name}
            div.pure-u-1-3.alignRight
                if (stage === 'PROCESSING_RO'  && user.role === 'RO')
                    a#reportingEditLink(href="/hdc/reporting/reportingInstructions/" + nomisId) Change these details

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span Address
    div.pure-u-1-2
        if reportingInstructions.buildingAndStreet1
            span#reportingAddress1.block #{reportingInstructions.buildingAndStreet1}
        if reportingInstructions.buildingAndStreet2
            span#reportingAddress2.block #{reportingInstructions.buildingAndStreet2}
        if reportingInstructions.townOrCity
            span#reportingTown.block #{reportingInstructions.townOrCity}
        if reportingInstructions.postcode
            span#reportingPostCode.block #{reportingInstructions.postcode}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span Contact number
    div.pure-u-1-2
        if reportingInstructions.telephone
            span#reportingTelephone #{reportingInstructions.telephone}

