h2.heading-medium.borderBottom.separatorTitle Reporting instructions
div.pure-g
    div.pure-u-2-3
        div.pure-g
            -var reportingInstructions= licence.reportingInstructions
            div.pure-u-1
                div.borderBottomLight.smallPaddingTopBottom
                    div.pure-g
                        div.pure-u-1-3 Name of person
                        div#reportName.pure-u-2-3
                            if reportingInstructions.name
                                | #{reportingInstructions.name}

            div.pure-u-1
                div.borderBottomLight.smallPaddingTopBottom
                    div.pure-g
                        div.pure-u-1-3 Address
                        div#reportAddress.pure-u-2-3
                            if reportingInstructions.address1
                                span.block #{reportingInstructions.address1}
                            if reportingInstructions.address2
                                span.block #{reportingInstructions.address2}
                            if reportingInstructions.address3
                                span.block #{reportingInstructions.address3}
                            if reportingInstructions.postCode
                                span.block #{reportingInstructions.postCode}


            div.pure-u-1
                div.borderBottomLight.smallPaddingTopBottom
                    div.pure-g
                        div.pure-u-1-3 Contact number
                        div#reportContactNumber.pure-u-2-3
                            if reportingInstructions.telephone
                                | #{reportingInstructions.telephone}

            div.pure-u-1
                div.borderBottomLight.smallPaddingTopBottom
                    div.pure-g
                        div.pure-u-1-3 Date and time
                        div#reportDateTime.pure-u-2-3
                            if reportingInstructions.date
                                | #{reportingInstructions.date}
                            if reportingInstructions.hour
                                |  #{reportingInstructions.hour}:#{reportingInstructions.minute}
