h2.heading-medium.borderBottom.separatorTitle Reporting instructions
div.grid-row
    div.column-two-thirds
        div.grid-row

            div.column-full
                div.borderBottomLight.smallPaddingTopBottom
                    div.grid-row
                        div.column-one-third Name of person
                        div#reportName.column-two-thirds
                            if reportingInstructions.name
                                | #{reportingInstructions.name}

            div.column-full
                div.borderBottomLight.smallPaddingTopBottom
                    div.grid-row
                        div.column-one-third Address
                        div#reportAddress.column-two-thirds
                            if reportingInstructions.address1
                                span.block #{reportingInstructions.address1}
                            if reportingInstructions.address2
                                span.block #{reportingInstructions.address2}
                            if reportingInstructions.address3
                                span.block #{reportingInstructions.address3}
                            if reportingInstructions.postCode
                                span.block #{reportingInstructions.postCode}


            div.column-full
                div.borderBottomLight.smallPaddingTopBottom
                    div.grid-row
                        div.column-one-third Contact number
                        div#reportContactNumber.column-two-thirds
                            if reportingInstructions.telephone
                                | #{reportingInstructions.telephone}

            div.column-full
                div.borderBottomLight.smallPaddingTopBottom
                    div.grid-row
                        div.column-one-third Date and time
                        div#reportDateTime.column-two-thirds
                            if reportingInstructions.date
                                | #{reportingInstructions.date}
                            if reportingInstructions.time
                                |  #{reportingInstructions.time}
