extends ../../layout

block content

  div.back-link-container.smallPaddingTop
    a#back.link-back(href="/admin/functionalMailboxes/probationAreas/" + probationAreaCode + "/ldus") Back


  h2.heading-medium LDU
  div.pure-g.borderBottom
    div.pure-u-1.pure-u-md-1-2
      p
        span.bold Probation Area:&nbsp;
        span #{probationAreaCode}
      p
        span.bold LDU:&nbsp;
        span #{description} (#{lduCode})
      p
        span.bold Functional Mailbox:&nbsp;
        span #{functionalMailbox}

  h2.heading-medium Probation Teams
  table.largeMarginBottom
    thead
      tr
      th Description
      th Code
      th Functional Mailbox
    tbody
      each team in lduWithTeams.probationTeams
        tr
        td
          | #{team.description}
        td
          | #{team.code}
        td
          | #{team.functionalMailbox}
