table#hdcEligiblePrisoners.largeMarginBottom
    thead
        tr
            th Name
            th Prison no.
            th Location
            th HDCED
            th CRD / ARD
            th Status
            th
    tbody
        if hdcEligible && hdcEligible.length > 0
            each prisoner, index in hdcEligible
                tr.hdcEligible(class=index % 2 === 1 ? 'greyRow' : undefined)
                    td.name
                        if prisoner.lastName
                            | #{prisoner.lastName}
                            if prisoner.firstName
                                | , #{prisoner.firstName}

                    td.offenderNo
                        if prisoner.offenderNo
                            | #{prisoner.offenderNo}

                    td.location
                        if prisoner.internalLocationDesc
                            | #{prisoner.internalLocationDesc}
                        if prisoner.internalLocationDesc && prisoner.agencyLocationDesc
                            |  - #{prisoner.agencyLocationDesc}

                    td.hdced
                        if prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate
                            | #{prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate}

                    td.crd
                        if prisoner.sentenceDetail.releaseDate
                            | #{prisoner.sentenceDetail.releaseDate}

                    if ['Address not suitable', 'Address rejected'].includes(prisoner.status)
                        td.status.terminalStateAlert
                            | #{prisoner.status}
                    else if (prisoner.status == 'Postponed')
                        td.status.terminalStateWarn
                            | #{prisoner.status}
                    else
                        td.status
                            | #{prisoner.status}

                    td
                        if ['UNSTARTED', 'ELIGIBILITY', 'PROCESSING_CA'].includes(prisoner.stage)
                            if ['Not started', 'Reviewing case'].includes(prisoner.status)
                                a.button.button-primary.fullWidth.center(href="/hdc/taskList/" + prisoner.offenderNo role="button")
                                    | Start
                            else
                                a.button.button-secondary.fullWidth.center(href="/hdc/taskList/" + prisoner.offenderNo role="button")
                                    | View
                        else if ['PROCESSING_RO', 'APPROVAL', 'DECIDED'].includes(prisoner.stage)
                            a.button.button-secondary.fullWidth.center(href="/hdc/review/licence/" + prisoner.offenderNo role="button")
                                | View
