table#hdcEligiblePrisoners.largeMarginBottom
    thead
        tr
            th Name
            th Prison no.
            th.hideMobile Location
            th.hideMobile HDCED
            th.hideMobile CRD / ARD
            th.hideMobile Status
            th
    tbody
        if hdcEligible && hdcEligible.length > 0
            each prisoner, index in hdcEligible
                tr.hdcEligible(class=index % 2 === 1 ? 'greyRow' : undefined)
                    td.name
                        if prisoner.firstName
                            | #{prisoner.firstName}
                        if prisoner.lastName
                            |  #{prisoner.lastName}

                    td.offenderNo
                        if prisoner.offenderNo
                            | #{prisoner.offenderNo}

                    td.location.hideMobile
                        if prisoner.internalLocationDesc
                            | #{prisoner.internalLocationDesc}
                        if prisoner.internalLocationDesc && prisoner.agencyLocationDesc
                            |  - #{prisoner.agencyLocationDesc}

                    td.hdced.hideMobile
                        if prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate
                            | #{prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate}

                    td.crd.hideMobile
                        if prisoner.sentenceDetail.releaseDate
                            | #{prisoner.sentenceDetail.releaseDate}

                    if ['Address not suitable', 'Address rejected'].includes(prisoner.status)
                        td.status.terminalStateAlert.hideMobile
                            | #{prisoner.status}
                    else if (prisoner.status == 'Postponed')
                        td.status.terminalStateWarn.hideMobile
                            | #{prisoner.status}
                    else
                        td.status.hideMobile
                            | #{prisoner.status}

                    td
                        if ['UNSTARTED', 'ELIGIBILITY', 'PROCESSING_CA', 'DECIDED', 'MODIFIED', 'MODIFIED_APPROVAL'].includes(prisoner.stage)
                            if ['Not started', 'Reviewing case', 'Address rejected'].includes(prisoner.status)
                                a.button.button-primary.fullWidth.center(href="/hdc/taskList/" + prisoner.bookingId role="button")
                                    | Start
                            else
                                a.button.button-secondary.fullWidth.center(href="/hdc/taskList/" + prisoner.bookingId role="button")
                                    | View
                        else if ['PROCESSING_RO', 'APPROVAL'].includes(prisoner.stage)
                            a.button.button-secondary.fullWidth.center(href="/hdc/review/licence/" + prisoner.bookingId role="button")
                                | View
