table#hdcEligiblePrisoners.largeMarginBottom
    thead
        tr
            th Name
            th NOMS ID
            th Location
            th HDCED
            th Current status
            th
    tbody
        if hdcEligible && hdcEligible.length > 0
            each prisoner in hdcEligible
                tr.hdcEligible(class=index % 2 === 1 ? 'greyRow' : undefined)
                    td.name
                        if prisoner.lastName
                            | #{prisoner.lastName}
                            if prisoner.firstName
                                | , #{prisoner.firstName}

                    td.offenderNo
                        if prisoner.offenderNo
                            | #{prisoner.offenderNo}

                    td.location
                        if prisoner.agencyLocationDesc
                            | #{prisoner.agencyLocationDesc}

                    td.hdced
                        if prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate
                            | #{prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate}

                    td.status
                        if prisoner.status
                            | #{prisoner.status}

                    td
                        if prisoner.status === 'Not Started'
                            a.button.button-primary.fullWidth.center(href="hdc/taskList/" + prisoner.offenderNo role="button")
                                | Start
                        else
                            a.button.button-secondary.fullWidth.center(href="hdc/taskList/" + prisoner.offenderNo role="button")
                                | Continue
