table#hdcEligiblePrisoners.largeMarginBottom
    thead
        tr
            th Name
            th Prison no.
            th.hideMobile Location
            th.hideMobile HDCED
            th.hideMobile CRD / ARD
            th.hideMobile Status
            th
    tbody
        if hdcEligible && hdcEligible.length > 0
            each prisoner, index in hdcEligible
                tr.hdcEligible
                    td.name
                        if prisoner.firstName
                            | #{prisoner.firstName}
                        if prisoner.lastName
                            |  #{prisoner.lastName}

                    td.offenderNo
                        if prisoner.offenderNo
                            | #{prisoner.offenderNo}

                    td.location.hideMobile
                        if prisoner.internalLocationDesc
                            | #{prisoner.internalLocationDesc}
                        if prisoner.internalLocationDesc && prisoner.agencyLocationDesc
                            |  - #{prisoner.agencyLocationDesc}

                    td.hdced.hideMobile
                        if prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate
                            | #{prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate}

                    td.crd.hideMobile
                        if prisoner.sentenceDetail.releaseDate
                            | #{prisoner.sentenceDetail.releaseDate}

                    td.status.hideMobile
                        if prisoner.status
                            | #{prisoner.status}

                    td
                        if ['APPROVAL', 'DECIDED'].includes(prisoner.stage)
                            if ['Awaiting decision'].includes(prisoner.status)
                                a.button.button-primary.fullWidth.center(href="/hdc/taskList/" + prisoner.bookingId role="button")
                                    | Start
                            else
                                a.button.button-secondary.fullWidth.center(href="/hdc/taskList/" + prisoner.bookingId role="button")
                                    | View
