table#hdcEligiblePrisoners.largeMarginBottom
    thead
        tr
            th Name
            th Prison no.
            th Location
            th HDCED
            th CRD / ARD
            th Status
            th
    tbody
        if hdcEligible && hdcEligible.length > 0
            each prisoner, index in hdcEligible
                tr.hdcEligible(class=index % 2 === 1 ? 'greyRow' : undefined)
                    td.name
                        if prisoner.firstName
                            | #{prisoner.firstName}
                        if prisoner.lastName
                            |  #{prisoner.lastName}

                    td.offenderNo
                        if prisoner.offenderNo
                            | #{prisoner.offenderNo}

                    td.location
                        if prisoner.internalLocationDesc
                            | #{prisoner.internalLocationDesc}
                        if prisoner.internalLocationDesc && prisoner.agencyLocationDesc
                            |  - #{prisoner.agencyLocationDesc}

                    td.hdced
                        if prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate
                            | #{prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate}

                    td.crd
                        if prisoner.sentenceDetail.releaseDate
                            | #{prisoner.sentenceDetail.releaseDate}

                    td.status
                        if prisoner.status
                            | #{prisoner.status}

                    td
                        if ['APPROVAL', 'DECIDED'].includes(prisoner.stage)
                            if ['Awaiting decision'].includes(prisoner.status)
                                a.button.button-primary.fullWidth.center(href="/hdc/taskList/" + prisoner.offenderNo role="button")
                                    | Start
                            else
                                a.button.button-secondary.fullWidth.center(href="/hdc/taskList/" + prisoner.offenderNo role="button")
                                    | View
