extends ../layout

block content
  div.pure-g
    div.pure-u-1.smallMarginTop
      a.link(href=exitUrl data-qa='exit-to-dps-link') Exit to Digital Prison Services

    if user.role === 'RO'
      div.pure-u-1.searchLink.alignRight.sm-padTop55.u-paddingTop
        a#searchOffenderLink(href=globalSearchUrl) Search all offenders

    div.pure-u-1
      div(class= user.role === 'RO' ? "pure-g paddingTop" : "pure-g xlargePaddingTop")
        div.pure-u-1.pure-u-md-1-2
          h2.heading-large.noMargin Case list
        div.pure-u-1.pure-u-md-1-2.form-group
          input.front-end-control.form-control(type="text" id="caseListFilter" placeholder="Search your case list" title="Filter the case list by text content")

        div#tabBar.pure-u-1.form-group.center
          ul
            li(class=tab === 'active' ? 'selected' : undefined)
              a(href="/caseList/active") Active
            li(class=tab === 'inactive' ? 'selected' : undefined)
              a(href="/caseList/inactive") Inactive

      if (user.role === 'CA' || user.role === 'PRISON')
        include ./CATable

      if user.role === 'RO'
        include ./ROTable

      if user.role === 'DM'
        include ./DMTable

      div.largePaddingBottom
        a.link.marginTop(href=exitUrl data-qa='exit-to-dps-link') Exit to Digital Prison Services

block append scripts
  script(src="/public/javascripts/caseListFilter.js?" + version)
  script(src="/public/javascripts/jquery.tablesorter.min.js?" + version)
  script(src="/public/javascripts/caseListSort.js?" + version)
