extends ../layout

block content
    h1#pageHeading.heading-large HDC eligible prisoners

    table#hdcEligiblePrisoners.largeMarginBottom
        thead
            tr
                th Name
                th NOMS ID
                th Location
                th HDCED
                th CRD
                th Current status
                th
        tbody
            if hdcEligible && hdcEligible.length > 0
                each prisoner in hdcEligible
                    tr.hdcEligible
                        td.name
                            if prisoner.lastName
                                | #{prisoner.lastName}
                                if prisoner.firstName
                                    | , #{prisoner.firstName}

                        td.offenderNo
                            if prisoner.offenderNo
                                | #{prisoner.offenderNo}

                        td.location
                            //if prisoner.internalLocationDesc
                            //    | #{prisoner.internalLocationDesc}
                            if prisoner.agencyLocationDesc
                                | #{prisoner.agencyLocationDesc}

                        td.hdced
                            if prisoner.homeDetentionCurfewEligibilityDate
                                | #{prisoner.homeDetentionCurfewEligibilityDate}

                        td.crd
                            if prisoner.conditionalReleaseDate
                                | #{prisoner.conditionalReleaseDate}

                        td.status
                            if prisoner.status
                                | #{prisoner.status}

                        td
                            a.button.button-secondary(href="hdc/taskList/" + prisoner.offenderNo role="button")
                                | View
