table#hdcEligiblePrisoners.sortcolumns.largeMarginBottom
    thead
        tr
            th.sortable Name
            th.hideMobile Prison no.
            th.sortable Request received
            th.hideMobile Status
            th
    tbody
        if hdcEligible && hdcEligible.length > 0
            each prisoner, index in hdcEligible
                tr.hdcEligible
                    td.name.searchable
                        if prisoner.firstName
                            | #{prisoner.firstName}
                        if prisoner.lastName
                            |  #{prisoner.lastName}

                    td.offenderNo.hideMobile.searchable
                        if prisoner.offenderNo
                            | #{prisoner.offenderNo}

                    td.crd.searchable
                        if prisoner.received
                            | #{prisoner.received.text}

                    td.status.hideMobile.searchable
                        if prisoner.status
                            | #{prisoner.status}

                    td
                        -var label = labels.ro[prisoner.status] || 'View'

                        if ['PROCESSING_RO', 'DECIDED', 'MODIFIED', 'MODIFIED_APPROVAL'].includes(prisoner.stage)
                            -var path = "/hdc/taskList/" + prisoner.bookingId
                            if (['Start now', 'Continue'].includes(label))
                                a.button.button-primary.fullWidth.center(href=path role="button") #{label}
                            else
                                a.button.button-secondary.fullWidth.center(href=path role="button") #{label}

                        else if ['PROCESSING_CA', 'APPROVAL'].includes(prisoner.stage)
                            -var path = "/hdc/review/licence/" + prisoner.bookingId
                            a.button.button-secondary.fullWidth.center(href=path role="button") #{label}
