table#hdcEligiblePrisoners.largeMarginBottom
    thead
        tr
            th Name
            th Prison no.
            th.hideMobile HDCED
            th.hideMobile CRD / ARD
            th.hideMobile Status
            th
    tbody
        if hdcEligible && hdcEligible.length > 0
            each prisoner, index in hdcEligible
                tr.hdcEligible
                    td.name.searchable
                        if prisoner.firstName
                            | #{prisoner.firstName}
                        if prisoner.lastName
                            |  #{prisoner.lastName}

                    td.offenderNo.searchable
                        if prisoner.offenderNo
                            | #{prisoner.offenderNo}

                    td.hdced.hideMobile.searchable
                        if prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate
                            | #{prisoner.sentenceDetail.homeDetentionCurfewEligibilityDate}

                    td.crd.hideMobile.searchable
                        if prisoner.sentenceDetail.releaseDate
                            | #{prisoner.sentenceDetail.releaseDate}

                    td.status.hideMobile.searchable
                        if prisoner.status
                            | #{prisoner.status}

                    td
                        -var label = labels.dm[prisoner.status] || 'View'

                        if ['APPROVAL', 'DECIDED'].includes(prisoner.stage)
                            -var path ="/hdc/taskList/" + prisoner.bookingId
                            if ['Start now'].includes(label)
                                a.button.button-primary.fullWidth.center(href=path role="button") #{label}
                            else
                                a.button.button-secondary.fullWidth.center(href=path role="button") #{label}

