table#hdcEligiblePrisoners.sortcolumns.largeMarginBottom
    thead
        tr
            th.sortable Name
            th.hideMobile Prison no.
            th.sortable Request received
            th.hideMobile Status
            th
    tbody
        if hdcEligible && hdcEligible.length > 0
            each prisoner, index in hdcEligible
                tr.hdcEligible
                    td.name.searchable
                        if prisoner.firstName
                            | #{prisoner.firstName}
                        if prisoner.lastName
                            |  #{prisoner.lastName}

                    td.offenderNo.hideMobile.searchable
                        if prisoner.offenderNo
                            | #{prisoner.offenderNo}

                    td.crd.searchable
                        if prisoner.received
                            | #{prisoner.received.text}

                    td.status.hideMobile.searchable
                        if prisoner.status
                            | #{prisoner.status}

                    td
                        if ['PROCESSING_RO', 'DECIDED', 'MODIFIED', 'MODIFIED_APPROVAL'].includes(prisoner.stage)
                            if ['Ready to check'].includes(prisoner.status)
                                a.button.button-primary.fullWidth.center(href="/hdc/taskList/" + prisoner.bookingId role="button")
                                    | Start
                            else
                                a.button.button-secondary.fullWidth.center(href="/hdc/taskList/" + prisoner.bookingId role="button")
                                    | View
                        else if ['PROCESSING_CA', 'APPROVAL'].includes(prisoner.stage)
                            a.button.button-secondary.fullWidth.center(href="/hdc/review/licence/" + prisoner.bookingId role="button")
                                | View
