extends ../formTemplates/formTemplate

block question
  | Are there less than 4 weeks to the conditional release date?

block formItems
  - var crdTimeValue = data ? data.decision : null;
  - var dmApprovedValue = data ? data.dmApproval : null;

  div.form-group.inline
    div.multiple-choice(data-target="dmApprovalForm")
      input#crdTimeYes(type="radio" checked=crdTimeValue === 'Yes' name="decision" value="Yes")
      label(for="crdTimeYes") Yes
    div.multiple-choice
      input#crdTimeNo(type="radio" checked=crdTimeValue === 'No' name="decision" value="No")
      label(for="crdTimeNo") No

    div#dmApprovalForm(class=errorObject.dmApproval ? 'form-group-error panel panel-border-narrow' : 'panel panel-border-narrow js-hidden')
      p Has the decision maker given approval to continue the HDC case?
        if errorObject.dmApproval
          span.error-message #{errorObject.dmApproval}
      div.multiple-choice.smallPaddingBottom
        input#dmApprovalYes(type="radio" checked=dmApprovedValue === 'Yes' name="dmApproval" value="Yes")
        label(for="dmApprovalYes") Yes
      div.multiple-choice
        input#dmApprovalNo(type="radio" checked=dmApprovedValue === 'No' name="dmApproval" value="No")
        label(for="dmApprovalNo") No
