extends ../layout

block content

    - var exclusionValue = data.decision || null;

    div.pure-g.pure-u-1
        include ../includes/back

        if Object.keys(errorObject).length !== 0
            div.error-summary(role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1")
                h2.heading-medium.error-summary-heading.center.noMargin#error-summary-heading-example-1
                    | There are errors with your submission - see below

        div.pure-u-1-2
            h2.heading-large Is the offender statutorily excluded from HDC?

    form(method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="nomisId" value=nomisId || '')
        div.smallPaddingTop.paddingBottom.largeMarginBottom

            div.largePaddingBottom
                div.form-group.inline
                    div.multiple-choice(data-target="excludedForm")
                        input#excludedYes(type="radio" checked=exclusionValue === 'Yes'  name="decision" value="Yes")
                        label(for="excludedYes") Yes
                    div.multiple-choice
                        input#excludedNo(type="radio" checked=exclusionValue === 'No' name="decision" value="No")
                        label(for="excludedNo") No

                div#excludedForm(class=errorObject.reason ? 'form-group-error': 'panel panel-border-narrow js-hidden')
                    include includes/excluded

            div.paddingBottom.smallPaddingTop
                div.pure-u-1.inlineButtons
                    input#continueBtn.requiredButton.button(type="submit" value="Save and continue")
                    a#backBtn.requiredButton.button.button-secondary(href="/hdc/taskList/" + nomisId role="button") Return to tasklist
