div.pure-g.largePaddingBottom
    div.pure-u-2-3
        h2.heading-large.midPaddingBottom Submit curfew address
        p.lede The proposed curfew address is ready to send to the offender's responsible officer.

        p The information will be submitted to:

        if submissionTarget && submissionTarget.com
            div#ro.bold.paddingBottom #{submissionTarget.com}
        else
            div.paddingBottom No responsible officer found

div#continueBtns.pure-g.paddingBottom
    div.pure-u-1
        form#acceptanceForm(method='POST')
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="nomisId" value=nomisId)
            input(type="hidden" name="sender" value="CA")
            input(type="hidden" name="receiver" value="RO")
            input(type="hidden" name="transitionType" value=transitionType)
            if submissionTarget && submissionTarget.com
                input(type="hidden" name="submissionTarget" value=submissionTarget.com)
            input#continueBtn.requiredButton.button.button-start(type="submit" value="Submit address")
            a#backBtn.requiredButton.button.button-secondary.button-start-height(href="/hdc/taskList/" + nomisId role="button") Cancel
