div.pure-g
    div.pure-u-2-3
        h2.heading-large.midPaddingBottom Submit to the Prison Case Admin
        p.lede The HDC licence information is ready to be submitted to the Prison Case Admin or you can return to the task list and send it later.

        if submissionTarget
            p The information will be submitted to:

            div.bold Prison Case Admin
            if submissionTarget.premise
                div.bold #{submissionTarget.premise}
            if submissionTarget.city
                div #{submissionTarget.city}
            if submissionTarget.locality
                div #{submissionTarget.locality}
            if submissionTarget.postCode
                div #{submissionTarget.postCode}

            if submissionTarget.phones
                each phone in submissionTarget.phones
                    div.bold.smallPaddingTop
                        if phone.type
                            | #{phone.type}:
                        else
                            | Tel:
                        |  #{phone.number}

            div.paddingBottom
                if submissionTarget.email
                | #{submissionTarget.email}

div#continueBtns.pure-g.paddingBottom
    div.pure-u-1
        form#acceptanceForm(method='POST')
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="nomisId" value=nomisId)
            input(type="hidden" name="sender" value="RO")
            input(type="hidden" name="receiver" value="CA")
            input#continueBtn.requiredButton.button.midMarginBottom.button-start(type="submit" value="Submit")
        a#backBtn.requiredButton.button.button-secondary(href="/hdc/taskList/" + nomisId role="button") Return to task list
